[2017-05-23 10:26] sebgoa opened #3 "Handle existing issues in kubernetes/kubernetes"
Do we declared bankruptcy on existing issues in main repo ?
Or try to move things over ?

[2017-05-23 10:27] sebgoa opened #4 "Handle existing PR in kubernetes/kubernetes"
Do we close all existing PRs in main repo ? or try to move/redirect them ?

[2017-05-26 18:56] chrislovecnm opened #7 "Update Cassandra Example"
I have a PR in the core repo that I need to move over to here.  Also how are we doing owners here?

[2017-06-10 17:37] kargakis commented on #3
See comment in https://github.com/kubernetes/kubernetes/issues/13944#issuecomment-307472375

[2017-06-10 17:39] kargakis commented on #3
FWIW, the number of issues tagged as examples is not prohibitive for moving them over here: https://github.com/kubernetes/kubernetes/issues?page=1&q=is%3Aissue+is%3Aopen+label%3Aarea%2Fexample&utf8=%E2%9C%93

[2017-06-11 16:30] kargakis commented on #7
Can you also update the example to use a Deployment or ReplicaSet instead of a RC?

[2017-06-11 16:44] ahmetb commented on #7
we haven't discussed any updates to OWNERS yet, we directly transferred the existing file over.

[2017-06-12 20:23] saturnism opened #10 "Example Cassandra Daemon set fails to deploy"
**What keywords did you search in Kubernetes issues before filing this one?** cassandra
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):
BuildDate:"2017-05-19T18:44:27Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.4", GitCommit:"d6f433224538d4f9

[2017-06-12 20:25] chrislovecnm commented on #7
@kargakis I am planning on removing the RC example, as I can no longer recommend using that since we have stateful sets.

[2017-06-12 20:26] chrislovecnm commented on #10
I am planning on removing the DS and RC examples.  I cannot recommend using them since we have stateful sets now.

[2017-06-12 20:28] chrislovecnm commented on #7
@ahmetb you can assign this to me if you like. I have been maintaining the C* example.

[2017-06-12 20:30] chrislovecnm opened #11 "Clarification about container policy"
I am reading this:

This has been a challenge in the past, since getting an update in takes way too long.  Are we going to implement a system to automatically push new containers?  Are we going to force all containers Dockerfiles to exist in this repo?

[2017-06-12 20:49] ahmetb commented on #11
@chrislovecnm I was hoping to take a stab at this problem this quarter (Apr-June'17) but did not have enough time. I am postponing to the next quarter. Main challenges I observed while I was looking at this work:

(1) You need someone to update the image.
(2) I'm not sure community is okay with gcr.io. Is dockerhub/quay a better answer for the community needs?
(3) We're not sure who are the owners

[2017-06-12 20:50] ahmetb commented on #7
/assign @chrislovecnm

[2017-06-12 21:00] ahmetb commented on #10
@chrislovecnm It's a good idea to deprecate use of RC in samples. In case of DaemonSet, if we remove this, we should probably develop a new sample covering DaemonSet as it is one of the primary workload types.

[2017-06-12 22:38] chrislovecnm commented on #10
@ahmetb there are multiple problems with the daemonset example, and the Java provider.  The only manner that I recommend running Cassandra is with a stateful set.  I will submit a PR removing both.

[2017-06-12 22:39] chrislovecnm commented on #10
/assign @chrislovecnm

[2017-06-12 22:40] chrislovecnm commented on #11
So not quite my question.

Does an example in the repo have to use a Docker maintained in this repo?

Unfortunately, I do not have cycles to work on automating the building of containers.

[2017-06-13 00:22] ahmetb commented on #10
@chrislovecnm Yes, please do. 👍  It would be great if these examples show the best way to achieve the task and demonstrate the concept. Having multiple options to follow a tutorial confuses the reader further.

[2017-06-13 00:30] ahmetb commented on #11
(in my opinion–) If the image is a well-known and maintained one, or the source/Dockerfile is easily discoverable*  then the source or Dockerfile does not have to live in this repo.

*: examples: `[docker.io/library/]tomcat`, `quay.io/coreos/etcd`, or `gcr.io/google_containers/echoserver`

[2017-06-13 08:51] sebgoa commented on #3
Then I would say we move them, but we need to tell the issue creator that the issue will not be worked on in a new repo.

[2017-06-13 09:38] saturnism commented on #10
nice. i was using this because it was a decent demo of daemonset. would love to see another.  thanks!

[2017-06-13 20:25] chrislovecnm commented on #10
Demo of ds?

[2017-06-19 17:27] ahmetb commented on #7
@chrislovecnm any updates?

[2017-06-19 17:38] chrislovecnm commented on #7
Hopefully this week

[2017-06-20 04:01] ahmetb opened #12 "Move tutorials out of this repository"
I am planning to move README.md files of the maintained examples to the docs repository and replace the contents here to link to the tutorial on kubernetes.io website.

The detailed plan can be found at https://github.com/kubernetes/kubernetes.github.io/issues/4134.

/assign

[2017-06-22 19:40] chrislovecnm commented on #11
Can get opinion that into the docs?  PR and discuss officially?

[2017-06-22 19:41] chrislovecnm opened #15 "Removing example labels out of core"
Since C* example is over here can we remove https://github.com/kubernetes/kubernetes/issues?q=is%3Aissue+is%3Aopen+Cassandra+label%3Aarea%2Fexample%2Fcassandra labels?

[2017-06-22 20:20] ahmetb commented on #15
@kubernetes/sig-contributor-experience-misc, can we remove the `area/example/cassandra ` label from the kubernetes/kubernetes? This repository is the new location for examples.

[2017-06-27 19:41] sebgoa commented on #15
@chrislovecnm what happens if we remove that label ? you won't be able to search back based on that label in the original repo (because the label will be gone).

[2017-07-11 17:10] ahmetb commented on #12
Closing as we now import tutorials from here to the docs repo.

[2017-07-11 17:10] #12 closed

[2017-07-15 18:15] andybrucenet opened #23 "Openshift: use of external Kubernetes is no longer supported"
Can no longer use the openshift-origin recipe to deploy openshift over existing kubernetes.

[code]

[2017-07-15 19:01] ahmetb commented on #23
/assign @kargakis // can you take a look?

Ideally we'd want to move these 3rd party recipes out of this repository. If you've got a Helm chart or another repository that supersedes this example, we should point users in the right direction.

[2017-07-15 19:04] kargakis commented on #23
/unassign
/assign @derekwaynecarr

[2017-07-15 19:39] mbtamuli opened #24 "MySQL Wordpress PV example giving errors."
**What happened**:
I was following the Stateful Applications example - [Wordpress MySQL persistent volume](https://kubernetes.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/)
In the [Deploy MySQL](https://kubernetes.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/#deploy-mysql) step, I encountered an error. I did `describe` on the pod. It was show

[2017-07-15 20:35] mbtamuli commented on #24
It was reported here too in this [issue](https://github.com/kubernetes/kubernetes/issues/41046). Sorry for this duplicate issue, but that issue was closed without explaining the reason for this error.
I tried the fix mentioned in the issue, adding annotation to the PVC -
[code]

It works. Why is it required though?

[2017-07-19 16:30] ahmetb opened #29 "Import latest commits from kubernetes/kubernetes"
We have some of the changes merged to https://github.com/kubernetes/kubernetes/tree/master/examples after we moved the content here. In order to not to lose the changes, we should import the latest commits again, preferably with commit history.

/assign @sebgoa

[2017-07-25 14:06] php-coder opened #37 "staging/psp/rbac: update usage of local-up-cluster.sh"
I see that example of using `local-up-cluster.sh` could be updated:
- we don't need to specify `ALLOW_ANY_TOKEN=true` variable because it was removed: https://github.com/kubernetes/kubernetes/pull/49045 (RBAC example "relies on the ALLOW_ANY_TOKEN setting" so perhaps it doesn't work at this time. Here is the PR message about what to use instead: "users of the flag should use impersonation headers

[2017-07-27 15:35] andrewcheny opened #40 "CrashLoopBackOff for mysql-deployment.yaml"
Following instructions to create wordpress-mysql statefulset. The only difference from the instruction is that I created persistentvolume with NFS. I can see the persistentvolumeclaim successfully bound to the persistentvolumes. But 'describe pod' shows CrashLoopBackOff. The following is the console output:

[code]

[2017-07-27 19:29] ahmetb commented on #7
@chrislovecnm #38 just made a bunch of updates to the Cassandra tutorial, feel free to send PRs if you think it can be improved.

[2017-07-27 19:29] ahmetb commented on #10
I'll close this as we removed DS capabilities from the Cassandra tutorial in #38.

[2017-07-27 19:29] #10 closed

[2017-07-29 22:12] kingdonb opened #44 "NFS example needs updates"
Is this now the best place to raise: kubernetes/kubernetes#48161

The NFS example is not on the list of supported examples, but if you're looking for maintainer volunteers... I am pretty sure I am going to need this NFS example to work personally, and I hope to keep up with Kubernetes upgrades with several dev/prod environments, so I might be a good fit for supporting maintainer.

[2017-08-03 11:23] ashwinipatankar opened #48 "Cassandra Statefulset: How to expose the cluster?"
I am trying out the cassandra -statefulset example. And can see all the three pods joined the cluster:
[code]

The out put of kubectl get service is:

[code]
Now, I want to expose it and use from out side the cluster.

Any help will be highly appreciated.

[2017-08-03 17:53] ahmetb commented on #44
@kingdonb Thanks for showing interest. Our goal with examples like NFS that are currently in `staging/` directory is to find them maintainers and ideally move them to another repository. If you think you have cycles to maintain this, I recommend you suggest creating a `kubernetes-incubator/kubernetes-nfs` repository by discussing this with kubernetes-sig-storage@googlegroups.com. Alternatively you

[2017-08-03 17:57] kingdonb commented on #44
Yes, I am interested in that.

I'll review your notes on the linked PR and start working on a Helm chart tonight!

[2017-08-03 18:04] ahmetb commented on #48
@ashwinipatankar consider taking a look at type:NodePort and type:LoadBalancer documentation here:

- https://kubernetes.io/docs/concepts/services-networking/service/#type-nodeport
- https://kubernetes.io/docs/concepts/services-networking/service/#type-loadbalancer

You can see how to expose a service externally at `frontend-service.yaml` on the guestbook example: https://github.com/kubernetes/exa

[2017-08-03 18:04] #48 closed

[2017-08-04 16:52] ahmetb opened #50 "guestbook: consider splitting service file into two"
Currently we're telling people:

[code]

Instead of this we should have 2 files that are ready to be deployed, configured with NodePort and LoadBalancer respectively.

This way we can say "if you're on minikube, deploy `frontend-service.yaml`, if you're on a cloud provider, deploy `frontend-service-external.yaml`.

cc: @cody-clark

[2017-08-04 16:55] ahmetb opened #51 "guestbook: consider using single-instance redis deployment"
Currently guestbook deployment consists of:

- frontend, 3 replicas (+service)
- redis-master, 1 replica (+service)
- redis-slave, 2 replicas (+service)

Redis reads go to slaves, writes go to master. However it seems like an overkill to me to have slave/master in this tutorial:

- it makes the tutorial ~30% longer and we have to explain why we have slave/master setup
- we have to maintain a custo

[2017-08-04 17:16] jeffmendoza commented on #51
This was the very first example. It certainly could be updated to be more basic and not use custom images.

[2017-08-04 17:35] ahmetb commented on #51
Got it, I was curious if there was a specific lesson it teaches. Maybe redis-master service having ClusterIP that's being queried by redis-slave was one of the learnings. Or the GET_HOSTS_FROM=env part of the script probably teaches people about the env-var based service discovery. But kube-dns is broadly deployed at this point and exists in Minikube, I'm not worried about losing these learnings.

[2017-08-04 23:53] msau42 commented on #44
/sig storage

[2017-08-05 07:07] ahmetb commented on #44
@msau42 I'm afraid we don't have SIG or area labels in this repository yet.

[2017-08-06 14:51] minac commented on #24
Same problem here. It definitely is a problem with the claims part. :(

[2017-08-09 13:26] JuneZhao opened #58 "https will be supported in the k8s example"
How to configure a SSL for the wordpress website in the docker image

[2017-08-09 19:45] ahmetb commented on #58
Hi @JuneZhao. We currently do not have samples for this.

If you have a SSL certificate from a Certificate Authority, consider using an Ingress with TLS certificates. See this https://kubernetes.io/docs/concepts/services-networking/ingress/#tls

If not, you might want to get a free certificate from Let's Encrypt using kube-lego https://github.com/jetstack/kube-lego. They have a tutorial on their r

[2017-08-09 19:45] #58 closed

[2017-08-18 02:15] livsky87 commented on #23
Hello @derekwaynecarr ,

I wonder the current status of this issue.
Is it deprecated?

I have same issue "KubernetesMasterConfig is required to start this server - use of external Kubernetes is no longer supported."

[2017-08-21 21:41] bamb00 opened #80 "minio distributed service stuck and failed to load"
Kubernetes v1.6.6

https://github.com/kubernetes/examples/tree/master/staging/storage/minio#step-1-create-minio-headless-service

Minio Distributed Server Deployment: The non-headless service failed to load causes the pod failed to load and eventually the pvc failed to load.

     $ kubectl get svc minio-service
     NAME                       CLUSTER-IP     EXTERNAL-IP       PORT(S)             A

[2017-08-23 08:44] luciferksh opened #84 "How to pass access token in spark-submit to connect to k8s cluster"
I have tried to submit spark job using spark-submit in our k8s cluster. The authentication was failed. I have tried with kubectl proxy also. It was not working. Is anyone try to add access token in spark-submit for k8s.
[code]

getting this error
[code]

[2017-08-23 08:47] luciferksh commented on #84
curl http://127.0.0.1:8003/api/v1/namespaces/sidartha-spark-cluster/pods is working fine

[2017-08-23 08:49] #84 closed

[2017-08-23 08:51] luciferksh commented on #84
wrong location. i have moved to apache-spark-on-k8s/spark

[2017-08-29 02:46] kingdonb commented on #44
I'm working my way back around to this from deis/workflow#856 and deis/workflow#857 ... these are the things I need personally so, hopefully I will need to maintain them and thereby make a great maintainer for these examples...

[2017-08-30 14:37] Miouge1 opened #89 "Cassandra: seed provider lists no seeds."
Hi,

Following the instruction of the Cassandra example leads to the following error message:
[code]

It looks like a chicken an egg situation:
- Container starts
- readiness probe shows cassandra-0 is not ready
- Cassandra checks the seed, cassandra-0.cassandra.default.svc.cluster.local does not resolve
- Container stops with fatal error

If I comment the readinessProbe then the stateful set work

[2017-08-31 09:27] luciferksh opened #90 "Not able to run spark-submit iteractively on zeppelin container."
I have setup spark cluster in our k8s infrastructure. And i was trying to submit spark program through spark-submit in zepelin container as follow -
[code]
And getting follwing error -
[code]

[2017-08-31 09:29] luciferksh commented on #90
Hi @sebgoa , Could you please helpme on this. Thanks!

[2017-09-03 20:11] tiagorosendo commented on #23
any update ?

[2017-09-07 13:00] Gcastelo opened #92 "OMS dameonset takes a long time to get heartbeat success"
Hi,

I've deployed the OMS Agent dameonset to a k8 cluster and configured with the correct OMS Id and key, after following this [OMS Agent setup](https://github.com/kubernetes/examples/tree/master/staging/oms)

`omsagent-f35cw                          1/1       Running   0          15m       10.244.0.189   k8s-agentpool1-41733846-0`
`omsagent-v9dr1                          1/1       Running   0

[2017-09-07 16:58] ahmetb commented on #92
cc: @OguzPastirmaci is the owner of the OMS example.

[2017-09-10 17:43] kairen opened #93 "[Feature request] Add Ethereum private chain example"
Could I add a blockchain example to run the Ethereum private chain cluster on Kubernetes? It will be like this repos [Kubereum](https://github.com/kairen/kubereum).

[2017-09-11 06:51] ahmetb commented on #93
We are currently not accepting new examples into this repository and trying to move existing ones into separate repos. Furthermore, your example is another 3rd party software integration that  does not constitute a Kubernetes Example that demonstrates core features and has an accompanying tutorial.

 I recommend you to create your own repository (which it looks like there's already one) and gather

[2017-09-11 06:51] #93 closed

[2017-09-11 09:57] kairen commented on #93
@ahmetb Okay, thanks you for your reply!

[2017-09-12 17:32] OguzPastirmaci commented on #92
We have improved the solution, could you try again with the following instructions:
https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-containers#configure-an-oms-agent-for-kubernetes

I will also update the example in this repo to reflect the changes.

[2017-09-12 19:07] ahmetb commented on #92
@OguzPastirmaci if you have a separate repo to host this example on Microsoft properties (e.g. github org) that would be more preferable than having it here. We're trying to move 3rd party software/vendor examples out of this repository.

I see you are already using https://github.com/Microsoft/OMS-docker which is great. So I suggest sending a pull request to delete manifests and update the README

[2017-09-12 20:40] OguzPastirmaci commented on #92
Good idea, created #95.

[2017-09-13 10:27] Gcastelo commented on #92
@OguzPastirmaci I'll have a look and come back as soon as possible.

Could you explain what could be causing the current issue?

Thank you

[2017-09-13 19:55] ahmetb commented on #44
Any updates here?

[2017-09-13 22:43] OguzPastirmaci commented on #92
I don't know what could be causing the issue you're having but I reached out to the PM of the feature about it. I'll update the issue as soon as I hear from them.

[2017-09-14 20:59] OguzPastirmaci commented on #92
The cause of your issue might be the labels below in the new version that are used to set the agent and Docker provider versions.

agentVersion: 1.4.0-12
dockerProviderVersion: 10.0.0-25

[2017-09-18 18:35] kingdonb commented on #44
Not yet.  Sorry, will make a point to look at it this week.

The goal is still to convert the example to work as a helm chart though, and with some parameters.  (I'm learning ins and outs of building helm charts by porting Deis to OpenShift, which has been fun!)

[2017-09-20 02:23] kingdonb commented on #44
@ahmetb

[2017-09-22 04:12] vasiliyb opened #102 "https-nginx go issue"
Following [httpd-nginx docs](https://github.com/kubernetes/examples/tree/master/staging/https-nginx)

Getting a golang error.
[code]

[2017-09-22 13:59] beardman commented on #92
@OguzPastirmaci, I tried the suggested solution, of setting both agentVersion and dockerProviderVersion, but noticed no improvements or changes.

The behaviour is still the same as @Gcastelo mentioned above. First successful heartbeat only shows up in the agent logs over 1 hour after it was launched.

Any other ideas/suggestions of what might be the cause of this issue?

[2017-09-26 01:36] wchao1241 opened #103 "redis-sentinel didn't completed the election"
After execute “kubectl delete pods redis-master”
kubectl logs -f redis-sentinel：
12:X 26 Sep 01:10:02.266 # +monitor master mymaster 172.17.109.163 6379 quorum 2
12:X 26 Sep 01:10:02.267 * +slave slave 192.168.250.49:6379 192.168.250.49 6379 @ mymaster 172.17.109.163 6379
12:X 26 Sep 01:10:03.401 * +sentinel sentinel 489c70f345a51146d384a39830b0b7c069605f59 172.17.109.145 26379 @ mymaster 172.17.1

[2017-09-26 09:54] wchao1241 commented on #103
# Replication
role:master
connected_slaves:2
slave0:ip=192.168.250.49,port=6379,state=online,offset=6695,lag=0
slave1:ip=192.168.250.49,port=6379,state=online,offset=6695,lag=0
master_repl_offset:6695
repl_backlog_active:1
repl_backlog_size:1048576
repl_backlog_first_byte_offset:2
repl_backlog_histlen:6694
-------------------------------------------------------------------
sentinel myid 93cf62df8d

[2017-09-27 05:33] ZhenyangZhao commented on #103
@Miyurz I have the same problems.
Could you please take a few minutes to look at it?
Thanks a lot.

[2017-09-29 02:45] warent opened #104 "Guestbook tutorial doesn't work"
https://kubernetes.io/docs/tutorials/stateless-application/guestbook/

Following the guestbook tutorial line for line results in the following error:
[code]

[2017-09-29 02:46] warent commented on #104
My guess is that the php file is expecting some ENV variables setup, but the tutorial never says anything about it.

[2017-09-29 02:51] warent commented on #104
Oops, I didn't run the slave service apparently...? Sorry about that, this isn't a bug/error at all!

[2017-09-29 02:51] #104 closed

[2017-10-03 14:42] kingdonb commented on #44
I still owe a helm chart for this story

I've actually got a number of inquiries from people that need a PV that can be written into by simultaneously running pods that have the volume mounted concurrently.  I'm trying to avoid coding a helm chart in a paper bag that only solves my problem, "engineering rule of three" says you can't make a general solution until you have at least three distinct cu

[2017-10-04 01:18] nottinhill opened #105 "HTTP 403 User "system:serviceaccount:default:elasticsearch" cannot get endpoints in the namespace "default"."
Regarding: https://github.com/kubernetes/examples/tree/master/staging/elasticsearch

I get:

`Exception caught during discovery javax.ws.rs.WebApplicationException : HTTP 403 User "system:serviceaccount:default:elasticsearch" cannot get endpoints in the namespace "default".`

Full:
[code]

I have no idea how to fix this. I did everything as on the GitHub Readme.

[2017-10-04 05:47] antoineco commented on #105
Do you have RBAC enabled in your cluster? If so, you have to create a ClusterRoleBinding (and optionally a ClusterRole) for the `elasticsearch` service account.

Try this:
`kubectl create rolebinding elasticsearch --clusterrole=view --serviceaccount=elasticsearch --namespace=default`

[2017-10-04 11:13] nottinhill commented on #105
Hi thanks for this.

When I try it I get:

So I started reading Docs and it says only of 1.8 this is stable. But seems to me 1.7.3-tectonic-1 is the latest I can install.

Any ideas?

[2017-10-04 11:26] nottinhill commented on #105
Hi thanks a lot for this.

When I try it I get:

So I started reading Docs and it says only of 1.8 this is stable. But seems to me 1.7.3-tectonic-1 is the latest I can install.

I then went to my tectonic console and did it via GUI. Please confirm correctness:

![screenshot](https://user-images.githubusercontent.com/418352/31173266-22bfa9f8-a907-11e7-9d8e-213c94f27595.png)

[code]

and:

[code]

[2017-10-04 11:53] antoineco commented on #105
Let's stick to the authentication issue :) Ingress access is a whole different concern.

`RoleBinding` applies only to the namespace it's deployed in. In the case, the `default` namespace. Are you deploying ES to that namespace?

[2017-10-04 11:59] nottinhill commented on #105
I used all 3 example yaml files unaltered.
Now after reading your comment I added `namespace=default` to all metadata.

[2017-10-04 12:02] antoineco commented on #105
The manifests don't necessarily define the namespace, but the configuration of your client do.

That said, I think it would be worth adding a valid `RoleBinding` to the example.

[2017-10-04 12:03] nottinhill commented on #105
Sure, a *working* RoleBinding will always be add-worthy. However, at the moment, it is not working. I have a default tectonic install, recently set up. Nothing out of the ordinary. If we can't get the binding to run on my cluster, it won't run on custom clusters either.

[2017-10-04 12:19] antoineco commented on #105
I'll push a working RBAC setup in a second (Role, RoleBinding).

[2017-10-04 13:34] nottinhill commented on #105
Had a chance to push a setup yet?

[2017-10-04 13:38] antoineco commented on #105
I'm setting up a cluster to test right now, since the elasticsearch plugin doesn't document the permissions it needs.

[2017-10-04 22:19] atomantic opened #107 "Redis needs a service?"
I just setup redis in my cluster using this guide: https://github.com/kubernetes/examples/tree/master/staging/storage/redis#tl-dr

The only service this creates is the sentinel at port 26379.
So when connecting to redis via the application pods, should they be referecing redis-sentinel:26379, or should we be creating a second service like the following to use for our applications to connect to red

[2017-10-05 04:23] ahmetb commented on #107
I'm not familiar with the matter directly, but the example reads:

Have you tried running the provided example and see it works?

[2017-10-05 07:57] #105 closed

[2017-10-05 14:11] atomantic commented on #107
yeah, that only refers to the redis pods themselves finding the sentinel as a service.

I installed according to the instructions but couldn't get it to work as a redis source for the applications--connecting to the redis-sentinel on 26379 didn't do it.

I ended up switching to using ```help install stable/redis-ha``` with some custom configs and that did the trick.

[2017-10-05 16:17] ahmetb commented on #107
@atomantic thanks for the insight, we should probably also deprecate this example in favor of the Helm chart.

[2017-10-08 04:58] monotykamary commented on #107
The example supposes that the redis-master exists as a mortal pod. When it dies (and is gone forever), it will then do failover on existing replicas. This doesn't happen on the helm chart because the pod resurrects before the failover timeout:

[code]

Since the service only exposes for the redis-master pod, it is no different to a basic master-slave replication; albeit with a huge risk. In the ev

[2017-10-08 15:42] kingdonb commented on #44
Well this looks like terrible news: https://stackoverflow.com/questions/42973882/configure-nfs-server-for-persistentvolume-either-via-dns-or-static-clusterip

[2017-10-08 17:18] kingdonb commented on #44
OK, I have composed PR #108 in order to avoid "perfect getting in the way of good"

It simply converts the existing structure into a helm chart, does not adjust any documentation yet.

You can `helm install -n nfs examples/staging/volumes/nfs/chart/` and you get three RCs as in the original example: `nfs-server`, `nfs-busybox`, and `nfs-web`.

The NFS server binds itself to a 200GB PV, then expose

[2017-10-08 18:30] kingdonb commented on #44
The new example from #108 works exactly once per cluster boot (using Minikube)... something does not terminate upon `helm delete --purge nfs` and the result is, upon the second attempt to `helm install` the chart you get:

[code]

Whatever hangs around also prevents a `minikube stop` from happening cleanly.  If I terminate the VirtualBox instance and start it again, the service comes up and busybo

[2017-10-08 18:36] kingdonb commented on #44
There's another proposed change in kingdonb/examples#2

Is there any reason to keep these services as "replicationcontrollers" and have I done the conversion to Deployment resources correctly?  The changes work for me (the example pods still come up and do their job.)

[2017-10-09 15:14] msau42 commented on #44
1. Regarding service name resolution, @jingxu97 should have fixed the issue on GCE/GKE COS images with kubernetes/kubernetes#51645.  The underlying issue is that mounts are done at the host level, so you need to configure the host's resolv.conf to also add the kube-dns server.

2. Regarding termination, are you terminating everything in the right order?  All the NFS clients must be terminated firs

[2017-10-09 19:34] atomantic commented on #107
Thanks for the detailed response. That makes sense. Half of me is wondering if using the sentinel is excessive within kubernetes in the first place since kubernetes is resurrecting the master on fail and getting it into a CrashLoopBackOff state.

deleting the master pod as you show, enables kubernetes to recreate the master and the redis cluster is alive again (for about 4 hours in my case).

Inte

[2017-10-09 21:47] kingdonb commented on #44
@msau42 That helps, thank you!  I will try terminating the clients first next time.

I'm not on GKE COS though, so I'll seek out a solution on my local OS.  That seems like a reasonable adjustment to make on the host OS.  I also have other components that require the client (off-cluster) must be able to resolve the service in the same way as the on-cluster services that utilize them do.  (I'm runn

[2017-10-10 08:20] OguzPastirmaci commented on #92
@keikhara, any ideas why it would take over an hour for the logs to show up?

[2017-10-15 13:07] kingdonb commented on #44
I think the other solution vs terminating the clients first, is to set the mount option for soft errors... that way the client will produce an error when it loses contact with the server, and not hang forever.

You might want your production deployments to wait for the server to come back instead of erroring out, so this can be one of the parameters to add to values.yaml

[2017-10-16 17:05] pranshuverma opened #109 "Statefulset Casssandra not able to mount pvc at /cassandra_data."
/kind bug
/sig apps
/area example

In Cassandra Statefulsets example not able to mount PVC at /cassandra_data but able to mount at say /cassandra_test location.

Getting below error in logs.
[code]

Environment Details:
[code]

[2017-10-16 17:06] pranshuverma commented on #109
Also in above case not able to create the statefulsets in different namespace except default.

[2017-10-16 17:11] ahmetb commented on #109
ACK. I wonder if it's broken for others as well. I don't have time immediately to dedicate to this, if anyone else wants to take a look, please go ahead.

[2017-10-16 17:11] ahmetb commented on #109
@pranshuverma have you followed the tutorial at https://kubernetes.io/docs/tutorials/stateful-application/cassandra/ or just deployed the manifests from this repo?

[2017-10-16 21:27] jaytaylor opened #111 "Elasticsearch production cluster "403: cannot get endpoints" errors"
Following the docs for creating a [production cluster](https://github.com/kubernetes/examples/tree/master/staging/elasticsearch/production_cluster), I get the following 403 endpoints errors from the master, client, and data pod logs:

[code]

This seems related to #105, but this cluster doesn't use [RBAC](https://kubernetes.io/docs/admin/authorization/rbac/). I decided to go ahead and try applying

[2017-10-17 04:22] pranshuverma commented on #109
@ahmetb I have followed the tutorial and it works for me if i use empty dir as volume mounts. But using pvc fails with the above mentioned error.

[2017-10-22 19:37] kingdonb commented on #44
There is https://github.com/kubernetes/charts/pull/2559 now which can be a new home for this concern, the `example/staging/nfs` was updated and also works fine for me without helm at this point.  Thanks!

[2017-10-22 19:37] #44 closed

[2017-10-23 06:39] fleeto opened #114 "Selenium example"
It seems that there is no geckodriver installed in the image `google/python-hello`, so the python code won't work as expected

Another image inodb/python-selenium can support the example.

[2017-10-23 11:35] cvieri commented on #89
/sig storage

[2017-10-24 16:58] ludovicbonivert commented on #114
I get following error `>>> check_browser("CHROME")
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "<stdin>", line 4, in check_browser
  File "/usr/local/lib/python2.7/dist-packages/selenium/webdriver/remote/webdriver.py", line 151, in __init__
    self.start_session(desired_capabilities, browser_profile)
  File "/usr/local/lib/python2.7/dist-packages/selenium/webdr

[2017-10-30 10:02] fatg1988 opened #132 "No up-and-running site-local (private) addresses found"
k8s 1.6.4
flannel

 [2017-10-30T09:35:24,499][WARN ][o.e.b.ElasticsearchUncaughtExceptionHandler] [397f514e-3be8-4d89-9256-f1f215d0dbd8] uncaught exception in thread [main]
org.elasticsearch.bootstrap.StartupException: java.lang.IllegalArgumentException: No up-and-running site-local (private) addresses found, got [name:lo (lo), name:eth0 (eth0)]
	at org.elasticsearch.bootstrap.Elasticsearch.init(E

[2017-11-03 18:27] ekuric commented on #89
I see this issue too, is there any know fix for this?

[2017-11-09 03:11] ahmetb opened #137 "Enable OWNERS enforcement for this repository"
We should probably start using the OWNERS file.

/cc @sebgoa
do you know how we can enable this?

[2017-11-15 10:07] zhangzikang1992 opened #139 "when create examples redis cluster"
hi，when i create redis cluster use step like this:

kubectl scale rc redis --replicas=3
kubectl scale rc redis-sentinel --replicas=3
This will create two additional replicas of the redis server and two additional replicas of the redis sentinel.

but it  create two additional replicas of the redis server and three additional replicas of the redis sentinel.

[2017-11-16 19:55] wallrj commented on #89
You can set `PublishNotReadyAddresses = true` on the headless service.

See:
 * https://github.com/jetstack/navigator/pull/137/commits/e2ed4d371165eeb28ce7efd4079b75c1b1db5c59#diff-4fdef357454e210b9c87d38f6025e4f7R37
 * https://kubernetes.io/docs/api-reference/v1.8/#service-v1-core

[2017-11-17 13:38] Miouge1 commented on #89
@wallrj is that also available as an annotation on the service?

[2017-11-17 14:53] wallrj commented on #89
Yes. My colleague @munnerz notes that the `PublishNotReadyAddresses` field has only been added in Kubernetes 1.8. Use the annotation `service.alpha.kubernetes.io/tolerate-unready-endpoints` for backwards compatibility. See:
 * https://github.com/jetstack/navigator/pull/137#discussion_r151645574
 * https://github.com/kubernetes/kubernetes/pull/25284
 * https://github.com/kubernetes/website/issues/1

[2017-11-20 13:40] myguddy opened #141 "How to access mysql(statefulsets) from outside of cluster"
Hi Thanks for ur sharing info.

Is there any way to access to mysql from outside of cluster?
For developers, they need to access mysql directly for design and debugging.

I tried port-forward and using sql workbench on 3306 client port only,
unfortunately it doesn't work well.

Please give me an idea to support developers.
Thanks in advance.

For your Info

This is my yaml on working on
==========

[2017-11-21 21:18] joshlemer opened #144 "Broken Link in Spark Readme"
The [Spark example](https://github.com/kubernetes/examples/blob/master/staging/spark/README.md#step-two-start-your-master-service ) tutorial contains a link in the "Start your Master Service" section" which points to [here](https://github.com/kubernetes/examples/blob/master/docs/user-guide/replication-controller.md), titled "replication controller", but the link is now dead.

[2017-11-24 03:13] like-inspur opened #145 "ceph rbd support multi storageclass"
I test pod mount volume through pvc on storageclass ceph must exist in the same namespace with secret. Now I want mutil namespace environment, so each namespace need to create its own storageclass.
kubectl create ns like
ceph osd pool create like 128
ceph auth get-or-create client.like mon 'allow r' osd 'allow class-read object_prefix rbd_children, allow rwx pool=like'
I creaet ceph-secret-like in

[2017-11-24 13:40] monotek opened #146 "Flocker example is deprecated as flocker does not exists anymore"
The Website (https://clusterhq.com/flocker) linked in the Readme (https://github.com/kubernetes/examples/blob/master/staging/volumes/flocker/README.md) does not exist anymore.

Reason: https://techcrunch.com/2016/12/22/clusterhq-hits-the-deadpool/

Imho the example can be removed, as its obsolete.

[2017-11-25 06:26] ahmetb commented on #146
There's still a `flocker` volume driver for Kubernetes: https://kubernetes.io/docs/concepts/storage/volumes/

I think this example is referenced from the relevant API field, so deleting this might not be the right move. I suggest you propose removing this driver in the main kubernetes repo first, then the example here.

[2017-11-25 08:19] monotek commented on #146
OK, so maybe a deprecated warning and removing the dead link in the first place would be an idea...

[2017-11-25 16:50] ahmetb commented on #146
I think we should come up with a depreciation plan for this one, adding a depreciation warning to the example but having it fully supported on the main repo won't be great. I'm not too worried about the broken link to clusterhq.com.

[2017-11-27 02:34] VinceMD opened #147 "Cassandra: example does not use KubernetesSeedProvider while doc says it does"
From the Kubernetes documentation (https://kubernetes.io/docs/tutorials/stateful-application/cassandra/), we can read this statement:

` In this instance, a custom Cassandra SeedProvider enables Cassandra to discover new Cassandra nodes as they join the cluster.`

However the example does not seem to use the KubernetesSeedProvider.

On the KubernetesSeedProvider Readme:

` This provider is bundled

[2017-11-27 02:43] VinceMD commented on #89
I didn't face the issue but I also noticed that the KubernetesSeedProvider is not enabled in the example. Created a separate issue: https://github.com/kubernetes/examples/issues/147

[2017-11-27 21:36] #37 closed

[2017-11-28 02:45] BishoyDemian opened #148 "Examples of how to use azure managed disk volumes without PVC"
Currently the documentation for using azure managed disks only show how to configure the volume using a PVC. But I need to understand the other scenario of directly configuring a volume in the POD or ReplicaSet yaml file.

[2017-11-28 05:08] VinceMD opened #149 "Cassandra: statefulset and volume constraint prevents Cassandra pods from healing"
Running Cassandra in AWS but I imagine the same applies elsewhere (Kubernetes 1.7.4). Consider:

3 Cassandra nodes as defined by the Statefulset.

- cassandra-0 is in AZ "a"
- cassandra-1 is in AZ "b"
- cassandra-2 is in AZ "c"

AZ stands for a Availability Zone (same as Google Zone I heard). It's like a rack (although we don't have Kubernetes Cassandra snitch so for Cassandra it looks like everyt

[2017-11-28 23:59] ahmetb commented on #149
I recommend asking this on kubernetes-users Google Groups forum.

[2017-11-29 21:08] OverlordQ commented on #109
FWIW: https://issues.apache.org/jira/browse/CASSANDRA-13067

Looks like it is likely fixed in Cassandra 3.11.1, 3.0.15.

[2017-11-30 16:56] pranshuverma commented on #109
@OverlordQ thanks for the information. I will look into it.

[2017-11-30 16:56] #109 closed

[2017-11-30 22:12] Arnold1 opened #152 "issue with spark-ui-proxy"
Hi,

I followed all steps until Step 2:
[code]

i dont get the external IP, why is that? i waited 10 min between spark-ui-proxy and kubectl get svc spark-ui-proxy -o wide...

[2017-11-30 22:14] rbtcollins opened #153 "Cassandra image v12 still has Cassandra 3.9"
Running `nodetool version` against gcr.io/google-samples/cassandra:v12 gets me ```
nodetool version
ReleaseVersion: 3.9
[code]

[2017-12-04 23:55] abonillasuse opened #154 "pv doc additional text"
is this correct?
--from-literal=key=

https://github.com/kubernetes/examples/tree/master/staging/persistent-volume-provisioning

might there be an additional key= or is that expected?

[2017-12-04 23:56] #154 closed

[2017-12-06 09:19] dahaian opened #155 "How to setup a hadoop cluster in a kubernetes cluster?"
I would like to setup a hadoop cluster in a kubernetes cluster.There are 4 nodes for kubernetes cluster.
I create a pod for hadoop master in a kubernetes cluster node.And I create three pods for hadoop slaves in the other 3 nodes.I have to do that all the pods in a intranet each other.I want to do that multiple pods in different nodes in a intranet. What should I do?Any help is appreciated!

[2017-12-07 23:03] ahmetb commented on #155
Please ask ok Slack or Kubernetes-users@ Google Groups mailing list. 😊

[2017-12-07 23:03] #155 closed

[2017-12-12 07:47] bainim opened #157 "How can I customize elasticsearch.yaml"
Hello every one ,
i'm working on kubernetes and elasticsearch
i followed this link :https://github.com/kubernetes/examples/tree/master/staging/elasticsearch
what i want is to add a volume to be like this on :
folder_path/config/elasticsearch.yml:/root/config/elasticsearch.yml

[2017-12-12 08:00] ahmetb commented on #157
Please ask questions on kubernetes Slack (http://slack.k8s.io/) or the mailing list (https://groups.google.com/forum/#!forum/kubernetes-users).

[2017-12-12 08:00] #157 closed

[2017-12-12 08:13] bainim commented on #157
Thank you for the help

[2017-12-13 01:49] toddysm opened #158 "Using the Azure Disk example with AKS results in PersistentVolumeClaim is not bound"
We are trying the Azure Disk example on Azure Managed Kubernetes and it fails with `PersistentVolumeClaim is not bound`
Also, it is not clear from the example documentation what storage account and what credentials are used by the Kubernetes cluster to create the disk.

[2017-12-13 02:55] ahmetb commented on #158
Please ask questions on kubernetes-users email list or Slack (slack.k8s.io).

[2017-12-13 04:35] toddysm commented on #158
@ahmetb I will gladly ask questions there but the point of this issue is to improve the examples.

[2017-12-13 04:36] ahmetb commented on #158
Sorry my bad. I misread.

[2017-12-21 12:01] adrianRiobo opened #162 "Location not ignored for kubernetes.io/azure-disk"
Accordint to [azure-disk provisioner](https://github.com/kubernetes/examples/tree/master/staging/persistent-volume-provisioning#azure-disk)

If storage account is provided (same resource group as the cluster) location should be ignored but creating a storage class like this:

``
kind: StorageClass
``
``
apiVersion: storage.k8s.io/v1
``
``
metadata:
``
  ``
      name: azuredisk-low
  ``
``
provisi

[2017-12-25 08:40] huxiaoliang commented on #152
@Arnold1  this is not an issue, since LoadBalancer type service need a cloud provider such as  GCE,  do you have it?

[2017-12-28 02:03] StianOvrevage commented on #158
@toddysm Does that mean you have successfully gotten the PersistentVolumeClaims to work? Care to share how?

[2017-12-28 13:31] BezVezeE opened #165 "Redis: READONLY You can't write against a read only slave."
Hi, can someone help me with a problem on the redis cluster,

for example i use google cloud and i have created the redis cluster with the redis sentinel svc, also deleted the master pod an recreated again by it self, (as told in the example)

but can someone have any idea how to use this cluster,

i created a internal loadbalancer svc

[code]

and the good thing is i can connect to the cluster
bu

[2017-12-28 21:11] ahmetb commented on #165
kubernetes-users@ mailing list and slack.k8s.io channels might be a better place to seek help, unless you figure out who created the example and tag them here.

[2018-01-03 11:26] barbarosalp opened #166 "Redis Example: Which host to use as Sentinel IP?"
https://github.com/kubernetes/examples/tree/master/staging/storage/redis

I am following the example above, but something I couldn't understand which I am confused.
We create a redis-sentinel service but without type=NodePort so this service is not open to outside world. Is it because of the redis sentinel non-authentication to keep it internal ?

When I try the "redis-sentinel"'s ClusterIp (which

[2018-01-10 19:00] jbauza1984 opened #169 "Change in redis-master.yaml"
line 12 -> image: gcr.io/google-containers/redis:latest

[2018-01-10 20:19] ahmetb commented on #169
Can you elaborate further why this change is needed?

[2018-01-10 20:40] jbauza1984 commented on #169
Yes, use k8s.gcr.io/redis:v1 returns error: "Failed to pull image "k8s.gcr.io/redis:v1": failed to run [fetch --no-store docker://k8s.gcr.io/redis:v1]: exit status 254"

[2018-01-10 21:13] ahmetb commented on #169
We recently migrated from `gcr.io/google-containers` to k8s.gcr.io`. If there's any issues with it, please file them at https://github.com/kubernetes/k8s.io/.

Personally, `k8s.gcr.io/redis:v1` works for me.

[2018-01-10 21:13] #169 closed

[2018-01-16 15:28] jason-tian opened #171 "Elasticsearch example: KeyUsage does not allow digital signatures"
I followed the production_cluster to setup elasticsearch, but I get the error KeyUsage does not allow digital signatures from es-master pod logs.
How do I fix it?

[2018-01-16 18:03] jaytaylor commented on #111
/remove-lifecycle stale

[2018-01-16 18:03] jaytaylor commented on #111
Still would like to know the why's behind this.

[2018-01-16 18:05] ahmetb commented on #111
@jaytaylor I recommend finding the owner of the example from here: https://github.com/kubernetes/kubernetes/commits/v1.7.0/examples/elasticsearch and asking them. I'm not sure they see this issue.

[2018-01-17 07:58] deitch opened #173 "Redis without bootstrap master and sentinel"
There are several issues with the Redis example:

* It uses a bootstrap pod for sentinel and first master, because of Redis's need to bootstrap with fixed IP. This makes it hard to just have it applied to a cluster (or restarted) and run automatically
* If a sentinel pod goes away, it will come back with a new IP. Since Sentinel uses IPs internally to track everything, and does not remove any Sent

[2018-01-17 08:26] ahmetb commented on #173
We might consider deprecating the example in favor of the Helm charts:
- https://github.com/kubernetes/charts/tree/master/stable/redis
- https://github.com/kubernetes/charts/tree/master/stable/redis-ha

I believe the example does not have a maintainer currently.

[2018-01-17 08:42] deitch commented on #173
if that is preferred. I had thought the point here was to demonstrate how to do it without helm, in "native" kube (and, after all, aren't helm charts just convenient implementations of that?). Whatever works. :-)

[2018-01-17 17:47] ahmetb commented on #173
This is not our official position by any means, it is my personal opinion. But we're actively trying to reduce the number of unmaintained examples we have here. And it looks like the community around the Helm charts is stronger.

If you can find the owner of the redis example from https://github.com/kubernetes/kubernetes/tree/v1.7.0/examples  and get them to review, I think we can accept the PR.

[2018-01-17 19:44] deitch commented on #173
Hmm, looks like maybe @ahmetb ... and he is already on the thread! :-)

The originals are from @thockin and @ciwang . Are you two the right ones?

[2018-01-17 22:38] ahmetb commented on #173
I don't think neither people are the owners.

https://github.com/kubernetes/kubernetes/commits/v1.7.0/examples/storage/redis shows [@]ciwang has only migrated the folder.

https://github.com/kubernetes/kubernetes/commits/fedc5136586dd1a3698f6ad0c734a4065fa726eb~1/examples/redis here's the actual history.

[2018-01-17 22:41] ahmetb commented on #173
From the history, it looks like this Redis example hasn't really being maintained for a long time (>1.5 yr). On the other hand each Helm Chart (redis and redis-ha) has at least 2 owners and A LOT of activity within the past 3 months.

[2018-01-18 01:02] rbtcollins opened #175 "Cassandra example will serve bad data to clients"
https://github.com/kubernetes/examples/blob/master/cassandra/cassandra-statefulset.yaml#L54 sets CASSANDRA_AUTO_BOOTSTRAP to false, which leads to data inconsistency when clients are reading shortly after a node has join:  a new node advertises itself as available before it has synchronised all the data it owns, rather than fully synchronising and then accepting reads. Quoting http://thelastpickle

[2018-01-18 06:54] deitch commented on #173
Maybe we will just make it a PR on the helm chart.

Is the general kube direction to deprecate these examples in favour of helm charts? I have found these highly useful for bootstrapping non-"helm"ed (non-charted? uncharted?) direct services.

[2018-01-18 18:13] ahmetb commented on #173
I believe this is not an official direction, it's just my personal opinion. However, it looks like there's not enough activity and momentum around 3rd-party-software storage examples (such as Redis, Memcached, Elasticsearch etc) like the Helm chart equivalents have.

[2018-01-19 05:34] deitch commented on #173
OK @ahmetb thanks.

Looks like @david-mcmahon and @janetkuo did most of the commits. Thoughts from the two of you?

I will look at the helm charts designs too.

[2018-01-19 15:33] Eric-Fontana-Bose commented on #89
This just helped me tremendously! Thanks.

[2018-01-23 21:22] jaytaylor commented on #111
Thanks @ahmetb, will do.

[2018-01-23 21:22] #111 closed

[2018-01-24 17:42] vincenzodnp opened #178 "Openshift 3.6 / K8s 1.6 - no volume plugin matched"
Hello there.
I followed the example to integrate Openshift 3.6 / K8S 1.6 with ScaleIO.
I'm able to create the secret, the storageclass and a pod with a ScaleIO volume attached, but when I try to create a pvc, it stays in pending state and I get the errore in title ("no volume plugin matched")

Following system info:
OS: Centos7
Kernel: 3.10.0-514.el7.x86_64
ScaleIO: 2.0.13
Openshift: Origin 3.6
K8

[2018-02-02 20:53] gkumar7 opened #190 "KubernetesSeedProvider: endpoints null for first node"
https://github.com/kubernetes/examples/blob/8774c894fa623dcc7a43bdfdc4fbf5668074fadf/cassandra/java/src/main/java/io/k8s/cassandra/KubernetesSeedProvider.java#L134-L137

Regarding this comment, are there any other scenarios in which ```endpoints``` can be null? If not, possibly the local ip could be placed in the seed list instead of using the default seeds list.

[2018-02-06 04:15] gkumar7 commented on #190
@chrislovecnm maybe you can provide some insight?

[2018-02-06 14:56] chrislovecnm commented on #190
Have not used this code in a long time ;(

[2018-02-06 16:37] gkumar7 commented on #190
Is there a newer version of the seed provider I could reference?

[2018-02-12 12:53] mau21mau opened #194 "Incompatible certificate name"
Your `nginx.conf` file points the certs to `nginx.cert` and `nginx.key`, while your inside the mount point they are called `tls.cert` and `tls.key`.

[2018-02-12 22:24] ahmetb commented on #194
@mau21mau I'm not sure which particular example you're talking about, there are tens of examples in this repo, and multiple of them containing nginx. If you have fixes, please contribute them as pull requests.

[2018-02-13 20:13] mbaquer6 commented on #165
Hi BezVezeE,
You can try using a headless service in Kubernetes and use this as a guide https://discuss.pivotal.io/hc/en-us/articles/205309388-How-to-setup-HAProxy-and-Redis-Sentinel-for-automatic-failover-between-Redis-Master-and-Slave-servers
You need a loadbalancer that can identify which node is the master so your app connects where it should

[2018-02-17 05:19] sivakumaris opened #197 "Connecting cassandra instance running in kuberentes"
My Cassandra instance is running on Kubernetes.
From my desktop i use to connect it with the below command "kubectl exec -it cassandra-0 cqlsh --namespace cassandra"

I want to know how to do the same with java.

[2018-02-17 05:55] ahmetb commented on #197
Please consider asking questions on Stack Overflow or kubernetes-users mailing list.

[2018-02-17 05:55] #197 closed

[2018-02-21 02:35] #153 closed

[2018-02-21 17:45] #175 closed

[2018-02-23 02:33] #4 closed

[2018-02-24 18:36] akunaatrium commented on #158
I have the same problem.

[2018-02-25 15:33] #3 closed

[2018-02-26 22:54] ahmetb commented on #137
/remove-lifecycle stale
/assign @idvoretskyi

[2018-02-27 17:22] #11 closed

[2018-02-27 20:09] ahmetb opened #204 "Consideration for removal: staging/sharing-clusters"
@bprashanth  do you still intend to maintain https://github.com/kubernetes/examples/tree/master/staging/sharing-clusters

I'm inclined to delete it:

- I think these sort of articles should ideally go to kubernetes.io.
- I don't think there's a lot of users of it. This one in particular did not get any particular updates since it's contributed https://github.com/kubernetes/kubernetes/commits/maste

[2018-02-28 21:50] #15 closed

[2018-03-02 06:22] #29 closed

[2018-03-02 10:49] anantpukale commented on #152
@huxiaoliang I am also having same issue and I am running it on GCE .
Note : It was working earlier and external ip was showing up .

[2018-03-03 17:33] pravinsinghal commented on #89
I am running into the same issue

INFO  [main] 2018-03-03 09:13:27,994 GossipingPropertyFileSnitch.java:64 - Loaded cassandra-topology.properties for compatibility
WARN  [main] 2018-03-03 09:13:28,091 SimpleSeedProvider.java:60 - Seed provider couldn't lookup host cassandra-0.cassandra.default.svc.cluster.local
WARN  [main] 2018-03-03 09:13:28,094 SimpleSeedProvider.java:60 - Seed provider couldn'

[2018-03-04 21:39] VinceMD commented on #89
@pravinsinghal

Your interpretation of the log is not correct. What is important here is

There are different ways of specifying seeds with Cassandra. But the bottom line, seed is just a list separated by commas. So you just have to tell cassandra which ones of your nodes are seeds.
Your cassandra hasn't even tried to contact a seed node because it's saying there is none defined

By default in the

[2018-03-04 21:50] VinceMD commented on #149
@ahmetb after some research and indeed asking questions to others, there are 2 solutions:

- in recent versions of K8S we can tell a statefulset to do things in parallel when it comes to provisioning nodes. This is tricky with Cassandra as at least the seed nodes need to be up first. Could use another mechanism for the seeds and rely on statefulset for normal nodes.

- my solution was to create 3

[2018-03-04 22:13] pravinsinghal commented on #89
I have defined CASSANDARA_SEEDS env var
this is from my yaml file:

 env:
        - **name: CASSANDRA_SEEDS
          value: cassandra-0.cassandra.default.svc.cluster.local,cassandra-1.cassandra.default.svc.cluster.local**
        - name: MAX_HEAP_SIZE
          value: 256M
        - name: HEAP_NEWSIZE
          value: 100M
        - name: CASSANDRA_CLUSTER_NAME
          value: "Cassandra"

[2018-03-05 02:17] VinceMD commented on #89
There are just warning. It would be normal that cassandra-1 is not ready.
However for cassandra-0.cassandra.default.svc.cluster.local ...

Are you sure you are using default namespace? You would need to somehow get into the pod before it crashes and see if you can ping cassandra-0.cassandra.default.svc.cluster.local .

[2018-03-05 03:25] pravinsinghal commented on #89
I am using the default namespace.

kubectl get svc --namespace=default
NAME         TYPE        CLUSTER-IP       EXTERNAL-IP   PORT(S)             AGE
cassandra    ClusterIP   None             <none>        9042/TCP            1d

 kubectl get pods --all-namespaces
NAMESPACE     NAME                                      READY     STATUS             RESTARTS   AGE
default       cassandra-0

[2018-03-05 08:03] pravinsinghal commented on #89
kube dns logs showed this

I0305 07:18:55.550159       1 dns.go:555] Could not find endpoints for service "cassandra" in namespace "default". DNS records will be created once endpoints show up.

Any idea what is happening ?

[2018-03-05 08:06] VinceMD commented on #89
have you create the cassandra service
kubectl get svc . What do you get

[2018-03-05 08:21] ekuric commented on #89
In  my case I did below

``` kubectl create namespace cassandra ```
then inside this project
a) created service using .yaml as stated in this repo
b) edited cassandra-statefulset.yaml from this repo and changed to have
[code]

c) created stateful set
``` kubectl create -f cassandra-statefulset.yaml```
Also you will need in cassandra-statefulset.yaml to adapt sections related to storageclass at end

[2018-03-05 16:51] ahmetb commented on #149
I'm not at all familiar with the Cassandra example, I'll cc @aledbf who has been maintaining that example recently.

[2018-03-05 16:53] ahmetb commented on #89
cc: @aledbf // this example was recently updated, is this still a problem

[2018-03-05 17:57] pravinsinghal commented on #89
I am still running into this issue - even after i created the namespace.

INFO  17:53:49 Back-pressure is disabled with strategy null.
INFO  17:53:49 Unable to load cassandra-topology.properties; compatibility mode disabled
WARN  17:53:49 Seed provider couldn't lookup host cassandra-0.cassandra.cassandra.svc.cluster.local
WARN  17:53:49 Seed provider couldn't lookup host cassandra-1.cassandra.cass

[2018-03-05 18:04] ekuric commented on #89
@pravinsinghal

if you run cassandra pods in "cassandra" namespace, can you try what I wrote in my previous comment. From your last comment value for CASSANDRA_SEEDS is a bit strange , I guess wrong copy/paste
[code]

can you try with
[code]

[2018-03-05 18:13] pravinsinghal commented on #89
Yep - that was a copy/paste issue.
I changed that to single cassandra name as recommended - still the same issue

INFO  18:10:53 Initialized back-pressure with high ratio: 0.9, factor: 5, flow: FAST, window size: 2000.
INFO  18:10:53 Back-pressure is disabled with strategy null.
INFO  18:10:53 Unable to load cassandra-topology.properties; compatibility mode disabled
WARN  18:10:53 Seed provider co

[2018-03-05 19:08] aledbf commented on #89
@pravinsinghal please use `aledbf/cassandra:v15`, it's the test image for #201.

[2018-03-06 09:07] pravinsinghal commented on #89
On a separate cluster created using kubeadm  - I was able to successfully deploy this YAML ..

kubectl exec -ti cassandra-0 --namespace=cassandra -- nodetool status
Datacenter: DC1
===============
Status=Up/Down
|/ State=Normal/Leaving/Joining/Moving
--  Address     Load       Tokens       Owns (effective)  Host ID                               Rack
UN  10.244.1.2  89.88 KiB  32           69.5%

[2018-03-07 22:17] pravinsinghal commented on #89
Issue got identified.
The k8s cluster was deployed with a cluster domain - and not default settings. so the actual seed value that worked was cassandra-0.cassandra.<my-namespace>.svc.<my-domain>.

thx for all the pointers and help.

[2018-03-09 07:07] #40 closed

[2018-03-09 08:08] #7 closed

[2018-03-09 15:15] #50 closed

[2018-03-09 15:15] #51 closed

[2018-03-09 16:16] #24 closed

[2018-03-10 09:33] #80 closed

[2018-03-10 18:42] #90 closed

[2018-03-10 22:46] #23 closed

[2018-03-11 21:08] #102 closed

[2018-03-12 01:54] gmoed commented on #158
I get the same warnings, seems to be a delay on the disk creation process, after a while I get confirmation about disk being mounted

[2018-03-12 03:14] #103 closed

[2018-03-12 17:28] #107 closed

[2018-03-12 18:29] #92 closed

[2018-03-13 14:51] levmichael3 commented on #194
I think he is talking about this issue while on the secret we get tls.key and tls.crt
[code]

while on default.conf
[code]

[2018-03-13 17:10] ahmetb commented on #194
Still not sure what example this is about. Can you link to the particular example directory, there's tens of them in this repo.

[2018-03-13 18:37] mau21mau commented on #194
It's related to [parse chart](https://github.com/kubernetes/charts/tree/master/stable/parse).

[2018-03-13 19:11] ahmetb commented on #194
Apologies but this is not the "charts" repo. There's no Parse-related content in this "examples" repo. If you have an issue with the chart, please open an issue in the charts repo.

[2018-03-13 21:30] mau21mau commented on #194
I'm sorry. Commented on the wrong window. Actually this is on the nginx ssl configuration:
https://github.com/kubernetes/examples/blob/master/staging/https-nginx/README.md

[2018-03-13 23:59] ahmetb commented on #194
Got it! This simply looks like an error. Feel free to send a pull request to fix it.

[2018-03-16 01:29] #139 closed

[2018-03-16 23:00] GervaisYO commented on #89
Hi @pravinsinghal ,
i'm having the same problem with cassandra on a k8s Cluster with kubeadm. Can you please elabore on how you solve your problem?
It was working for me as well before. But then i change my infrastructure. I now have one master and 2 workers. The master node is part of a public subnet and of a private subnet (NAT). I startet the k8s cluster with --apiserver-advertise-address of th

[2018-03-18 00:39] ahmetb commented on #89
We recently updated thee cassandra example, ccing @aledbf to take a look.

[2018-03-18 00:40] ahmetb commented on #194
@mau21mau any interest in sending a pull request?

[2018-03-18 02:46] aledbf commented on #89
@GervaisYO what image are you using?

[2018-03-18 09:15] levmichael3 commented on #194
@ahmetb @mau21mau I would love to send one.
It will be either renaming the `ssl_certificate` parameters in the default.conf file + README or creating different names for the files in the `nginxsecret` secret. I didn't saw documentation on how to do it, can anyone show me please?

[code]

[2018-03-18 10:36] GervaisYO commented on #89
I‘m using gcr.io/google-samples/cassandra:v13

[2018-03-19 16:36] serathius opened #214 "Migrate tests from main repo"
I'm working on PR that removes `examples` directory from main repo.
I found more advanced tests in https://github.com/kubernetes/kubernetes/blob/67be0a90f44a82985e6f926c102d2427a887a893/test/e2e/examples.go
Maybe they could be used as a base for testing examples.

[2018-03-20 16:03] ahmetb commented on #194
I can fix this. I think you're not supposed to change tls.crt/tls.key as those are standard (from `kubectl create secret tls` command).

[2018-03-20 18:27] ahmetb commented on #194
Sent pull request #217.

[2018-03-20 20:00] #194 closed

[2018-03-20 21:05] idvoretskyi opened #218 "Enable auto-merging for the k/examples repo"
Adding `/lgtm` and `/approve` labels to the PR in the current repo doesn't auto-merge the PR - auto-merging has to be enabled.

cc @ahmetb

[2018-03-20 21:05] idvoretskyi commented on #218
/assign

[2018-03-22 14:53] #144 closed

[2018-03-23 16:38] do-web opened #220 "nfs mount failed on other nodes"
I tried https://github.com/kubernetes/examples/tree/master/staging/volumes/nfs

I have running two nodes if i start the nginx server the pod on the server where the nfs-server is running, can connect to the nfs. But on the other node the pod throws an error:

`
MountVolume.SetUp failed for volume "nfs" : mount failed: exit status 32 Mounting command: systemd-run Mounting arguments: -description=Ku

[2018-03-23 18:48] #114 closed

[2018-03-28 20:06] #218 closed

[2018-04-04 02:50] TonyCMCC opened #223 "what's wrong with mount nfs volume by kube？"
there is error info：Invalid argument @ chown_internal
it's like mount nfs volume to docker forgot “-o  vers=3”
my config is here：
apiVersion: v1
kind: ReplicationController
metadata:
  name: gitlab-ce-test
  labels:
    name: gitlab-ce-test
spec:
  replicas: 1
  selector:
    name: gitlab-ce-test
  template:
    metadata:
      labels:
        name: gitlab-ce-test
    spec:
      containers:

[2018-04-04 02:52] TonyCMCC commented on #220
there is wrong with access right,u can config access rule on the nfs server

[2018-04-05 18:28] ahmetb commented on #223
Hello, it looks like you have a question and not a bug report for the example. You have a better chance of getting help in asking your questions in one of the Kubernetes help channels listed below (sorted by activity amount). We are not well-equipped to answer these questions.

- **Slack:** http://slack.k8s.io/ (`#kubernetes-users` or `#kubernetes-novice channels`)
- **Mailing list:** https://grou

[2018-04-05 18:29] ahmetb commented on #214
I believe those were mostly used to validate the YAML file formats (so that the tutorials aren't broken). The code doesn't apply to the majority of the repo. I'll leave it up to you, but I think the gains are minimal on this one.

[2018-04-08 03:05] #223 closed

[2018-04-10 05:16] didip opened #225 "Cassandra StatefulSet: Pod errors: Unschedulable"
Tested on GCP Kubernetes:
[code]

I followed the following tutorial:

* https://kubernetes.io/docs/tutorials/stateful-application/cassandra/

* https://github.com/kubernetes/examples/tree/master/cassandra

The `cassandra-data-cassandra-0` volume continuously spins in pending phase.

How can I fix it? I don't see other events to clue me in.

[2018-04-12 05:50] shaunakgodbole commented on #173
Hi, is there any update on this?  I was also trying to follow the same example but ran into similar problems that @deitch mentioned.

[2018-04-12 16:26] #147 closed

[2018-04-12 16:26] #190 closed

[2018-04-12 20:34] ahmetb commented on #225
/assign @aledbf

[2018-04-17 01:09] janetkuo commented on #173
cc @kow3ns @foxish

[2018-04-19 14:50] #141 closed

[2018-04-23 05:15] #145 closed

[2018-04-27 04:49] #148 closed

[2018-05-04 05:22] adelton opened #233 "README.md uses tokens without showing how users should be created and how tokens should be obtained"
https://github.com/kubernetes/examples/blob/master/staging/podsecuritypolicy/rbac/README.md says

[code]

and

[code]

but it does not explain how the users can be created and token obtained. The README document should be self-contained that users could follow without additional information.

[2018-05-04 17:47] #149 closed

[2018-05-09 11:51] yangwenmai opened #234 "Build staging Elasticsearch example, But I always have one node."
When I exec `kubectl scale --replicas=3 rc es`.

I got:

[code]

[code]

and I `curl 10.100.165.121:9200/_cluster/health?pretty`

[code]

Always have 1 node.

Plz give me a help.

[2018-05-11 05:50] dineshsckloud9 commented on #103
/reopen

[2018-05-12 03:11] mikep-locol-media opened #235 "Cassandra Example:"
I am encountering this problem when loading v14 of the example. I don' know if this relates to #89

Exception (org.apache.cassandra.exceptions.ConfigurationException) encountered during startup: io.k8s.cassandra.KubernetesSeedProvider
Fatal configuration error; unable to start server.  See log for stacktrace.
org.apache.cassandra.exceptions.ConfigurationException: io.k8s.cassandra.KubernetesSeedPr

[2018-05-20 15:01] #162 closed

[2018-05-24 14:43] jessfraz opened #236 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-25 08:18] day1118 opened #237 "NFS example using hard coded IP rather than service"
Why does the NFS example use a hard coded IP rather than a service. Can you please add a note of why this is the case?

Thanks

[2018-05-28 11:47] idvoretskyi commented on #137
Fixed with https://github.com/kubernetes/test-infra/pull/7455

[2018-05-28 11:47] #137 closed

[2018-06-01 04:14] Arnold1 commented on #152
hi, what is GCE and how to install it? does it say that in step 2?

[2018-06-02 13:05] #166 closed

[2018-06-13 09:00] migscabral commented on #235
Getting the same error. Just followed the steps in [](https://kubernetes.io/docs/tutorials/stateful-application/cassandra/)

Here's the startup log:

[code]

[2018-06-13 13:05] mikep-locol-media commented on #235
I just pointed this yaml to the official Cassandra image and it came up fine.

[2018-06-13 18:55] madireddyr commented on #235
@mikep-locol-media  : Thank you for the info, we are using official Cassandra image but we got below error
WARN  [main] 2018-06-13 18:52:18,929 SimpleSeedProvider.java:60 - Seed provider couldn't lookup host cassandra-0.cassandra.default.svc.cluster.local
Exception (org.apache.cassandra.exceptions.ConfigurationException) encountered during startup: The seed provider lists no seeds.
The seed provid

[2018-06-13 19:04] mikep-locol-media commented on #235
Looks like it could not find cassandra-0.cassandra.default.svc.cluster.local. Is this right? Are you running under the default namespace? Unfortunately I am in the hospital today otherwise I can put up my yaml files.

[2018-06-13 19:10] madireddyr commented on #235
yes , i am using default namespace

ubuntu@xyz:~/cluster-deployment/kubernetes$ kubectl get pods --all-namespaces
NAMESPACE     NAME                        READY     STATUS             RESTARTS   AGE
default       cassandra-1-jd6kl           0/1       CrashLoopBackOff   7          18m

[2018-06-13 19:12] mikep-locol-media commented on #235
Ah. Is your pod Cassandra-1? The url is looking for -0

[2018-06-13 19:13] mikep-locol-media commented on #235
Try changing the seed url to -1

[2018-06-13 21:21] madireddyr commented on #235
i changed pod to Cassandra-0, still no luck . i have used exact same yaml's and both v14 & apache cass 3.11 no luck

ubuntu@ip-xyz:~/cluster-deployment/kubernetes$ kubectl get pods
NAME                        READY     STATUS    RESTARTS   AGE
cassandra-0                 0/1       Pending   0          2m

I0613 21:20:13.973078   11972 round_trippers.go:386] curl -k -v -XGET  -H "Accept: applicatio

[2018-06-14 00:14] madireddyr commented on #235
if possible could you provide aws storage class example

[2018-06-14 18:30] madireddyr commented on #235
@mikep-locol-media : we were able to resolve the ebs volume issue but we still facing same error as above ("seed provider error ") : could  you send your yaml you have used for Apache Cassandra Image .

[2018-06-14 19:51] mikep-locol-media commented on #235
[cassandra.zip](https://github.com/kubernetes/examples/files/2103794/cassandra.zip)

Hi.. these are my yaml files. Notes:

1. I have installed on gke and on dockers for mac with K8s, include are the storage yamls for each of those. Have not tried on AWS
2. In my environment, I created a "cassandra" namespace. the service and statefulset yamls reflect that

[2018-06-14 20:46] madireddyr commented on #235
@mikep-locol-media  : thank you very much i will give a try .
based on https://github.com/kubernetes/examples/issues/89
https://github.com/kubernetes/examples/pull/201
i tried above example with aledbf/cassandra:v15 and it **worked** . not sure whats the difference between
gcr.io/google-samples/cassandra:v14 &  aledbf/cassandra:v15

will check cassandra image as well

[2018-06-14 21:14] mikep-locol-media commented on #235
Yes, I thought of trying aledbf/cassandra:v15. Just thought that switching over to the official cassandra was a better long term switch.

[2018-06-14 23:51] madireddyr commented on #235
@mikep-locol-media : i was able to bring official cassandra , but during bootsrap few nodes restarted, but they joined the ring eventually
have you noticed this kind of behavior ,
since then they are running properly
here is the log for restarted nodes

INFO  [main] 2018-06-14 23:41:06,177 StorageService.java:1449 - JOINING: waiting for schema information to complete
ERROR [main] 2018-06-14 23:41:

[2018-06-15 00:11] mikep-locol-media commented on #235
I find a lot of k8s stuff takes a bit of time to get themselves sorted out starting. Have not dug into it.

[2018-06-15 17:15] #171 closed

[2018-06-15 22:44] rvernica opened #238 "staging/volumes/cephfs mention base64"
For setting up the Sectret for Ceph, it might be worth mentioning that `ceph-authtool -p /etc/ceph/ceph.client.admin.keyring` returns a Base64 string, but one needs to re-encode that with Base64. So, in the Kubernetes Secret you put the output of:
[code]
Otherwise, one will get a strange `fork/exec nsenter: invalid argument` error.

[2018-06-18 10:59] ekhaydarov commented on #237
yeah theres a few hiccups when trying to move away from static ips to service which is undocumented

[2018-06-19 14:50] idvoretskyi commented on #236
Fixed https://github.com/kubernetes/examples/pull/239

[2018-06-20 12:13] ww110052181 opened #240 "redis namespace"
i have succeeded  install redis cluster in k8s according the following steps:
kubectl create -f examples/staging/storage/redis/redis-master.yaml

# Create a service to track the sentinels
kubectl create -f examples/staging/storage/redis/redis-sentinel-service.yaml

# Create a replication controller for redis servers
kubectl create -f examples/staging/storage/redis/redis-controller.yaml

# Create a

[2018-06-21 04:00] jcmiao opened #241 "why call "defer C.free(unsafe.Pointer(rc))" with "return rc"? Please explain, I don't understand"
func buildEndpoints(ips []string) *C.char {
	b, err := json.Marshal(&endpoints{ips})
	if err != nil {
		log.Printf("unexpected error serializing JSON response: %v\n", err)
		rc := C.CString(`{"ips":[]}`)
		defer C.free(unsafe.Pointer(rc))
		return rc
	}

	rc := C.CString(string(b))
        // Is there any difference between C-shared and Golang?
	defer C.free(unsafe.Pointer(rc))
	return rc
}

[2018-06-21 06:57] ww110052181 commented on #240
please close this isue，thx

[2018-06-23 19:25] #178 closed, assigned to nobody

[2018-06-24 18:01] yanniszark commented on #225
The aforementioned tutorial is made for Minikube, but it seems you are using Kubernetes on GCP.
The main problem is the use of the hostpath provisioner, as hostpath is not meant to be used in multi-node clusters and can give you all sorts of headaches (see [here at 8:35](https://www.youtube.com/watch?v=eqkgiPppZN8&t=2141s) ).
You have 2 options to continue:
1) Use a GCE provisioner to provide cass

[2018-06-25 05:04] madireddyr commented on #235
@mikep-locol-media  : could you please share github project link for your controller file
for open source apache kuberenets kops cluster .

[2018-06-25 05:07] mikep-locol-media commented on #235
Sorry, which controller file? I uploaded my cassandra yaml files in my previous post. I do not have it in a github repo.

[2018-06-25 17:34] ahmetb commented on #225
This will be tricky. This repo provides examples neutral to any cloud provider or vendor-specific steps.

[2018-06-26 17:34] madireddyr commented on #235
@mikep-locol-media : one last question any idea how below seed provider class is being referenced in your controller cassandra-statefulset.yaml .is this something built into .
Open source Apache docker image or its a feature with KOPS cluster
as i am not able to figure out exactly how this seed provider is working with Apache Cassandra /KOPS

**image: cassandra**

**- name: CASSANDRA_SEED_PROVIDER

[2018-06-26 17:41] madireddyr commented on #235
@mikep-locol-media : just to add above i would like to know if below particular jar file is embedded in Cassandra Image
Open source Apache Cassandra Image with KOPS is working for us but wanted to know how
its working .
https://github.com/kubernetes/examples/blob/master/cassandra/java/src/main/java/io/k8s/cassandra/KubernetesSeedProvider.java

[2018-06-28 07:36] ahmetb commented on #204
/remove-lifecycle stale

[2018-06-28 17:38] idvoretskyi commented on #236
Fixed https://github.com/kubernetes/examples/pull/239

[2018-06-28 17:38] #236 closed

[2018-06-29 05:40] madireddyr commented on #89
cc: @aledbf:  is this image aledbf/cassandra:v15 is same as the image . cassandra:v14

[2018-07-04 08:53] comxd opened #245 "Meteor: You are attempting to run Meteor as the 'root' superuser"
Hi,

I have tested the meteor image, here the full error:

[code]

Docker version 18.03.1-ce, build 9ee9f40
4.15.0-24-generic #26-Ubuntu SMP Wed Jun 13 08:44:47 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

[2018-07-09 15:40] DazWilkin opened #249 "NFS Example: Challenged executing scripts|binaries stored on shared volumes"
**What happened**:

I'm using the NFS volume backed by PD SSD to share read-write volumes across multiple nodes. This appeared to  have been working (and still does for executale) files but, on shared volumes, I'm able to reliably kill a shell by attempting to execute a script and receive "file not found errors".

**What you expected to happen**:

I expect to be able to create executable files on

[2018-07-10 20:06] madireddyr opened #250 "Google image V14 ,Kubernetes /KOPS Cluster on AWS is very slow"
we were able to use above example KOPS cluster and able to bring up the cluster( 6 ec2 nodes), we tried with both EBS & EC2 Instance storage but writing data to root  and  they both work . but when we we do a stress test on this performance seems  very low.
using both instance storage & EBS storage,

few stats : queue length is very low "0.06"

and OPS Stats
Results:
Op rate                   :

[2018-07-13 22:18] #165 closed

[2018-07-16 09:23] aojea opened #251 "Missing CONTRIBUTING.md file"
All K8s subrepositories should have a CONTRIBUTING.md file, which at the minimum should point to https://github.com/kubernetes/community/blob/master/contributors/guide/README.md. Care should be taken that all information is in sync with the contributor guide.

Subrepositories may also have contributing guidelines specific to that repository. They should be explicitly documented and explained in th

[2018-07-18 04:19] deitch commented on #173
/remove-lifecycle stale

[2018-07-19 09:13] #251 closed

[2018-07-28 07:57] #204 closed

[2018-07-30 15:28] dims opened #256 "make all-container in guestbook/php-redis fails"
[code]

[2018-07-30 15:54] #256 closed

[2018-07-31 05:05] #152 closed

[2018-08-03 07:56] kmarokas opened #260 "fsGroup securityContext does not apply to nfs mount"
The example https://github.com/kubernetes/examples/tree/master/staging/volumes/nfs works fine if the container using nfs mount is running as root user. If I use securityContext to run not as root user then I have no write access to the mounted volume.

How to reproduce:
here is the nfs-busybox-rc.yaml with securityContext:
[code]

Actual result:
[code]
Expected result:
the group ownership of /mnt

[2018-08-07 11:31] mtbbiker commented on #89
Ran into the same problem with ```gcr.io/google-samples/cassandra:v14``` also tried ```v13```. I can get it to work with the ```default``` namespace and ```cassandra``` service name. But when I tried using a custom ```namespace``` ie ```cassandra``` the logs complain about no seeds spesified. I have also tried rebuilding the images with ```env``` settings other that the default values as spesified

[2018-08-08 12:44] mat1010 commented on #234
Is this still an issue? Could you post your elasticsearch.yml and kubernetes service definitions?

[2018-08-09 03:35] #158 closed

[2018-08-30 07:13] congfairy commented on #90
Hi, so how did you solve this problem?thanks!

[2018-08-30 18:18] smaslennikov commented on #89
Folks, I have this issue in EKS currently. I'm using `qa` as the namespace and `cassandra-service` as the service name, which should make this valid:

[code]

But at spin-up, neither `cassandra-0` nor other containers in the namespace can resolve that hostname (other services resolve fine).  I have `publishNotReadyAddresses: true` set.

Here's the error produced by `cassandra-0`:

[code]

[2018-09-01 04:37] #220 closed

[2018-09-02 20:16] #214 closed

[2018-09-07 23:45] purpletech77 opened #268 "spark controller error"
18/09/07 23:44:09 INFO Utils: Successfully started service 'sparkMaster' on port 7077.
18/09/07 23:44:09 INFO Master: Starting Spark master at spark://spark-master:7077
18/09/07 23:44:09 INFO Master: Running Spark version 1.5.2
/start-master: line 22:    11 Killed                  /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master --ip spark-master --port 7077 --webui-port 8080

[2018-09-19 10:58] asodja commented on #249
I have the same issue. It worked normally with 1.9.7.

Was there any change from 1.9 to 1.10 that could affect that and was anyone able to workaround this?

[2018-09-19 12:35] asodja commented on #249
Changing Host OS fixed issue for me. I am running Kubernetes on GCP and switching Node image from Container-Optimized OS to Ubuntu fixed it for me.

[2018-09-24 13:59] ArWeder opened #272 "Azure File Shares cannot see mongo data"
Hi ,
I have mounted an Azure file share volume to a mongoDb pod on the path /data. Everything seems to work as expected. When I exec into the pod, I can see mongo data in /data/db. But on the Azure File Shares I can only see the folders /db and /dbconfig, not the files.

This is my yaml files

StorageClass

[code]

PVC
[code]

Mongo deployement file

[code]

Kubernetes version

[code]

[2018-09-24 14:01] ArWeder commented on #272
Not sure if it is the good repo to post this. Please refer me the good one if not

[2018-09-29 19:27] #89 closed

[2018-10-01 07:02] #233 closed

[2018-10-07 13:30] #234 closed

[2018-10-08 12:21] oz123 opened #276 "how often are images built?"
After updating the alpine linux version in https://github.com/kubernetes/examples/blob/master/staging/storage/redis/image/Dockerfile I realized it might take a while to the correct Docker image to appear in the docker hub registry.
So the question is, who is responsible for building images and pushing them to

https://hub.docker.com/u/kubernetes/ ?

Does it make sense to add some CI here?

[2018-10-08 16:03] ipuustin opened #277 "Simple-nginx example should be updated to use 'kubectl create'"
Running the first deployment command on the nginx example page (https://github.com/kubernetes/examples/blob/master/staging/simple-nginx.md) gives me a warning about using deprecated run generator:

    $ kubectl run my-nginx --image=nginx --replicas=2 --port=80
    kubectl run --generator=deployment/apps.v1beta1 is DEPRECATED and will be removed in a future version. Use kubectl create instead.

Se

[2018-10-13 13:30] #277 closed

[2018-10-14 17:57] walterdolce commented on #237
/remove-lifecycle stale

Is anyone able to document the undocumented stuff please?

[2018-10-26 10:09] gouki777 opened #282 "How to write data?"
hi
i look you kubernetes-redis-controller. but I have a question.
how do read redis-data?   how do write redis-master data?

I write same data in kubernetes-redis-master.
set key1 111;

[root ~]# kubectl get po,svc
NAME                             READY     STATUS    RESTARTS   AGE
pod/redis-6zgld                  1/1       Running   0          16m
pod/redis-ldbzl                  1/1       Runnin

[2018-10-30 17:17] reegnz opened #285 "Inconsistent indenting of yaml files"
Looking all over the repository, there are various styles of yaml found.
My concern is not the validity of those files, but one of consistency.

There are tools like yamllint that can be used to keep yaml style consistent.

I suggest using yamllint with it's default ruleset to check for style consistency.
An alternative style config would also be acceptable, but for readabilities sake a consistent

[2018-11-04 17:50] rroopreddy opened #287 "Cassandra GetEndPoints fails with return value Java_com_sun_jna_Native_getStringBytes"
I seem to get 2 out of 3 cassandra nodes start but the 3rd one fails with the following. Seems to be a problem with the 'main.go' code. Any help is appreciated

[code]

other two have the correct data

[code]

I instrumented the 'KubernetesSeedProvider.java' with two additional 'logger.info' lines to get this data

[code]

[2018-11-12 07:15] #282 closed

[2018-11-13 00:49] #238 closed

[2018-11-13 07:50] toshiiw opened #292 "example/staging/mysql-cinder-pd is outdated"
It says to start kubelet with --cloud-provider=openstack but that option is deprecated.

The prerequisites section can just refer to
https://github.com/kubernetes/cloud-provider-openstack/blob/master/docs/

The example section may still hold true. (I have no idea)

[2018-11-18 05:52] #241 closed

[2018-11-18 08:17] xueshanf commented on #249
We hit the same bug with GKE v1.11.2-gke.18 on COS.

[2018-11-18 08:55] #240 closed

[2018-11-18 20:12] msau42 commented on #249
This is a known gke issue and a fix will be rolling out

[2018-11-21 18:35] mkobit commented on #89
Been running into something similar - have been trying to not make the namespace be required as part of the `CASSANDRA_SEEDS` but haven't gotten it to work -

[code]
fails for me with

[code]

This occurs when using `image: gcr.io/google-samples/cassandra@sha256:7a3d20afa0a46ed073a5c587b4f37e21fa860e83c60b9c42fec1e1e739d64007`. I'd really like to use the namespace without having to hardcode it int

[2018-11-21 23:02] asalian commented on #287
We have also run into this issue (among many other issues such as missing packages required by Cassandra from the base image k8s.gcr.io/debian-base-amd64:0.3 that are not included in the build.sh file) . Having said this this issue happens in the interface between GO and Java using JNIA  The CString's memory allocation is freed before the Java has time to read it and java fails during string get b

[2018-11-22 19:39] #225 closed

[2018-11-25 08:39] #235 closed

[2018-11-27 16:52] mkobit commented on #235
@Bfoster-melrok it seems like you shouldn't have to do what you suggested in https://github.com/kubernetes/examples/issues/235#issuecomment-400926198 but that seems like an ok workaround. When I was trying to investigate what was going on yesterday, it doesnt seem like the exported [`CLASSPATH=/kubernetes-cassandra.jar`](https://github.com/kubernetes/examples/blob/d94a4484e1f73a277df25b13153f54cc6

[2018-12-01 11:02] #245 closed

[2018-12-07 22:33] #250 closed

[2018-12-07 22:39] pontiyaraja commented on #250
/remove-lifecycle rotten

[2018-12-07 22:41] pontiyaraja commented on #250
CI job also taking long time to build and returning time out, for 1 or two times

[2018-12-11 09:56] meirhazonAnyVision opened #293 "Redis SVC Question"
Hello,
Can you please explain how should application connect to the redis?
There is no service for connecting to port 6379 on the redis nodes?
Can you please explain?
Thanks so much,
Meir

[2018-12-26 20:47] eyusupov commented on #249
Thanks for the pointer guys! Looks like it working on GKE with 1.11.5-gkre.5

[2019-01-28 16:22] abeckDev commented on #237
/remove-lifecycle stale

I am also running into this problem and would really appreciate if anyone could document why we can't use Kubernetes services to connect to the NFS server.

@fejta are you able to help here?

[2019-01-30 02:52] recipedude commented on #237
/remove-lifecycle stale

If we are forced to define the NFS based PV using an IP address rather than service DNS does anyone have a reference to docs on how to fix the IP address of a pod?

Of course, doing so is extremely unpleasant.

https://kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/
```The Pods’ ordinals, hostnames, SRV records, and A record names have not changed, bu

[2019-01-30 18:11] recipedude commented on #237
Hey @abeckDev, indeed.

Yet the NFS example https://github.com/kubernetes/examples/blob/master/staging/volumes/nfs/nfs-pv.yaml uses static IP address.  Believe I am not the only one that has tried to use the service DNS name in the NFS based PV, only to find that it fails with unresolvable name service.  However, it does work when using a static IP address manually entered.  Yuck.

I do recall see

[2019-01-30 19:20] abeckDev commented on #237
That's it! I ran in the exact same issue and thought that that cant be the way. After looking at GitHub I was happy that there was already an issue and a confirmation from the K8s team but unfortunenatly it is kind of abandoned now.

But I think using the NFS example to provide a powerful IO and low latency share in the cluster is a realy cool feature so it would be great if that Issue get resolve

[2019-01-30 21:00] AlexProfi opened #297 "Redis sentinel example"
Hi
I try to run redis sentinel by this tutor
https://github.com/kubernetes/examples/tree/master/staging/storage/redis

and get that there is no master after I delete pod redis-master

[code]
I use this configmaps

[code]

And this yaml files for describe redis configs
[code]

How to fix it?
And how connect to this master to set data ? I need permanent name for it for programming access by host nam

[2019-01-31 17:53] diemtvu opened #298 "Allow setting CASSANDRA_LISTEN_ADDRESS via environment"
In some set up, we want to set `listen_address` to use localhost. Is this possible to allow setting it via environment variable.

For example, this change in `run.sh` should be sufficient:
[code]

or , if we want to be backward compatible

[code]

[2019-02-02 18:37] recipedude commented on #237
@abeckDev Copying the assigned IP as shown in the "official" example feels wrong on so many levels. Am guessing that any deployment using that any such configuration will inevitably break.

For the time being it appears that the lesser evil is to, even have trouble writing this, assign the containerized NFS server service resource a static IP as thus:

[code]

And the PV would appear something lik

[2019-02-05 01:41] #268 closed

[2019-02-05 14:10] oz123 commented on #276
ping, so the bot does not close this issue.

[2019-02-21 15:44] #272 closed

[2019-03-06 12:49] JeeveshN commented on #293
@meirhazonAnyVision Did you figure this one out ?
@brendandburns

[2019-03-07 08:47] AnuragkAnkur opened #300 "What is the user name of vnc server?"
Hi ,

I have got following deployment configuration  and i am running it on a kubernetes pod. I am trying to connect to the VNC server in the pod to view the activity of my running test.
I have enabled the port forwarding : kubectl port-forward $POD_NAME 5900:5900
and trying to connect to it using VNCViewer. It is asking me for the username. What could be the user name ?
Password is mentioned on t

[2019-03-07 11:15] #300 closed

[2019-03-07 11:15] AnuragkAnkur commented on #300
Not required. It was a mistake as i have the VNC server running on the host machine as well.

[2019-03-07 14:12] #276 closed

[2019-03-14 06:49] toshiiw commented on #292
/remove-lifecycle rotten

[2019-03-14 16:19] jefflaplante commented on #260
Why did this get closed with no resolution? I have this same issue. If there is a better solution than an init container please someone fill me in.

[2019-03-27 10:33] rdxmb commented on #293
If you use https://github.com/kubernetes/examples/tree/master/staging/storage/redis you have to connect the redis-sentinel:

https://github.com/kubernetes/examples/blob/master/staging/storage/redis/redis-sentinel-service.yaml

[2019-03-27 10:42] rdxmb opened #306 "FeatureRequest: StatefulSet for Redis-Cluster"
Hi,

the redis-example works very fine for me. However, I just changed it to a statefulSet, which has redis and sentinel in one pod.
The master in my case is defined by hostname `redis-0`, so a manual bootstrap is not necessary. If you like to have this for an official example, I could create a PR.
(This will also change the condition for the Master in [Dockerfile](https://github.com/kubernetes/ex

[2019-03-29 18:53] #285 closed

[2019-03-30 16:23] Stono opened #307 "NFS mounts are broken when NFS pod restarts"
Hey,
We've been following this example to run nfs but we have a situation when the nfs pod restarts, the clients have stale mounts and those pods need restarting too.

Please see: https://github.com/kubernetes/kubernetes/issues/75918

Any advise would be great.

[2019-04-13 17:53] sonots opened #308 "newrelic-infrastructure: exec: \"bash\": stat bash: no such file or directory"
With https://github.com/kubernetes/examples/blob/master/staging/newrelic-infrastructure/newrelic-infra-daemonset.yaml, I got errors like:

[code]

Indeed, `bash` did not exist as:

[code]

[2019-04-21 03:23] #287 closed

[2019-04-26 01:13] geerlingguy commented on #260
Yeah... I'm having the same issue with NFS too. `securityContext.fsGroup` seems to have no affect on NFS volume mounts, so you kinda have to use the initContainer approach :(

[2019-04-28 21:12] mlensment commented on #260
Why's this issue closed? I'm having the same problem.

[2019-05-10 01:39] MarkDeckert opened #311 "use driver.Quit() in selenium example"
## Problem:
The [Selenium sample](https://github.com/kubernetes/examples/tree/master/staging/selenium) test has an error that will leave browser nodes stuck forever after first run

## Cause:
The ending call in the script is driver.Close(), but this call just closes the focused browser window in the browser node, leaving the node itself unavailable for further tests.  The only way to end the sessi

[2019-05-11 21:32] #311 closed

[2019-05-11 21:34] MarkDeckert commented on #311
Resolved by https://github.com/kubernetes/examples/pull/313

[2019-05-20 09:16] tingweiwu opened #320 "what the meaning of GPUAllocationPriority in scheduler-policy-config.json"
hi, in the [scheduler-policy-config.json] (https://github.com/kubernetes/examples/blob/master/staging/scheduler-policy/scheduler-policy-config.json)  .
I did not find a description for this configuration item

[code]

What is the meaning of this GPUAllocationPriority and When is this configuration item used?

[2019-05-23 22:59] nrdlngr opened #321 "kubernetes/redis-slave:v2 image does not exist"
The guestbook-go example doesn't work anymore because the kubernetes/redis-slave:v2 image does not seem to exist.

[code]

[2019-05-25 22:57] #249 closed

[2019-06-02 20:15] abeckDev commented on #237
/remove-lifecycle rotten
Even though I know that we might never get an response I will try one last desperate call to mark this issue as still active.

Could someone from the Kubernetes team take a look into this please?

[2019-06-11 12:56] xuzhiguang opened #325 "I use vsphere storage, but it doesn't work"
error: AttachVolume.Attach failed for volume "test-volume" : No VM found
MountVolume.SetUp failed for volume "test-volume" : mount failed: exit status 32 Mounting command: systemd-run Mounting arguments: --description=Kubernetes transient mount for /var/lib/kubelet/pods/99ccd359-8c47-11e9-a6fb-0050569905cd/volumes/kubernetes.io~vsphere-volume/test-volume --scope -- mount -o bind /var/lib/kubelet/p

[2019-06-25 19:13] #325 closed

[2019-06-29 23:44] #297 closed

[2019-06-30 20:04] #298 closed

[2019-07-02 16:39] #321 closed

[2019-07-04 07:54] Nurlan199206 opened #329 "Statefulset example pod has unbound immediate PersistentVolumeClaims"
I'm trying to deploy `StatefulSet` on kubernetes 1.14.3 on Ubuntu 18.10. I have "`pod has unbound immediate PersistentVolumeClaims`" message. May be i missing something?

[https://github.com/kubernetes/examples/blob/master/staging/volumes/vsphere/simple-statefulset.yaml](https://github.com/kubernetes/examples/blob/master/staging/volumes/vsphere/simple-statefulset.yaml)

[2019-07-08 09:02] pankajcheema12 commented on #260
same issue able to write but not able to read from nfs mounted volume . kubernetes shows success in mounting process but no luck .

[2019-07-11 07:34] enzoTrevisan commented on #329
What kind of volume and storageclass was binded to your pod ?

[2019-07-11 07:40] enzoTrevisan commented on #308
In the container the command bash seems didn't exist,  give it a try to /bin/sh like below
command: [ "/bin/sh", "-c", "source /etc/kube-nr-infra/config && /usr/bin/newrelic-infra" ]

[2019-07-15 10:55] srudin opened #330 "How to do this with a windows pod?"
I followed the example here: https://github.com/kubernetes/examples/tree/master/staging/volumes/azure_file
but want to mount the volume in a Windows container. I get "The network path was not found." I assume the "mountPath" is the problem but have no idea what I need to put in there. I tried "D:\", "/d" "/d/test", "/test" etc. but nothing worked...

[2019-07-19 15:25] sameer-kumar opened #332 "Use Pod with an existing PV without PVC"
In your example with azure file PV. Can I use an existing PV in my pod.yml without PVC?

[2019-07-22 10:48] ralphlaude opened #333 "Cassandra ENV-VARS MAX_HEAP_SIZE and HEAP_NEWSIZE not passed to the JVM"
Hi,
i am using this configuration (https://github.com/kubernetes/examples/blob/master/cassandra/cassandra-statefulset.yaml) for my Cassandra cluster in kubernetes. Each Cassandra node runs in Centos 7 VM. The ENV-VARS `MAX_HEAP_SIZE` and `HEAP_NEWSIZE`seems not to be set or pass to the JVM. This leads to Cassandra consuming much more more memory than configure. I have these values configured `MAX_

[2019-07-22 16:57] danilorsilva commented on #237
same problem here

[2019-07-22 18:16] varun-da commented on #260
/reopen

[2019-07-23 21:11] kmarokas commented on #260
/reopen

[2019-07-23 21:12] varun-da commented on #260
thanks @kmarokas!

[2019-07-23 21:14] varun-da commented on #260
/remove-lifecycle rotten

[2019-07-25 17:34] liggitt opened #334 "Why does the /staging directory exist?"
is the cleanup still planned? https://github.com/kubernetes/kubernetes/pull/80356/files is attempting to update links to things in this subfolder folder, but I'm not sure why it exists

_Originally posted by @liggitt in https://github.com/kubernetes/examples/pull/2#issuecomment-515138884_

[2019-07-29 19:49] ahmetb commented on #334
We migrated this repo from k/k repository's ./examples directory.

After that, we moved officially maintained examples that are referenced in the tutorials on k8s.io to the root of this directory, and moved everything else to `staging/` with the hopes of deleting them someday.

Maybe we're already past that "some day", it's hard to tell. The community might find be still finding examples in `stagi

[2019-07-31 12:50] liggitt commented on #332
no, pods can only use PVs via PVCs

/close

[2019-07-31 12:50] #332 closed

[2019-07-31 21:25] SDBrett opened #336 "simple-nginx.md invalid command"
I've attempted to create a deployment using the simple-nginx example provided but am getting errors with the command `kubectl create deployment --image nginx my-nginx`
- Error: required flag(s) "filename" not set
- unknown flag --image

Are the commands on the document out of date?

[code]

[2019-08-01 01:56] SDBrett commented on #336
Closing as command is correct. Verified with another lab deployment

[2019-08-01 01:56] #336 closed

[2019-08-08 21:20] kd2eom opened #337 "YAML files no longer exist"
[This guide](https://github.com/kubernetes/examples/tree/master/staging/storage/minio) says to run the command `kubectl create -f https://github.com/kubernetes/kubernetes/blob/master/examples/storage/minio/minio-standalone-pvc.yaml?raw=true`.

Doing so results in a 404 file not found error; the file seems to have moved. Could the tutorial please be updated?

[2019-08-08 21:22] kd2eom commented on #337
Also, even if I copy and paste the text to a file and try to `kubectl create` that, it returns `error validating data: ValidationError(PersistentVolumeClaim.metadata): unknown field "storageClassName" in io.k8s.apimachinery.pkg.apis.meta.v1.ObjectMeta; if you choose to ignore these errors, turn validation off with --validate=false`

[2019-08-11 09:19] #292 closed

[2019-08-19 05:27] s1405 opened #339 "Couldn't write on the NFS volume"
I followed the examples for NFS, however used Deployment instead of RC, wasn't able to write onto the NFS directory

$ touch sample.txt
touch: cannot touch 'sample.txt': Permission denied

This is from the NFS Pod:
cat /etc/exports
/exports *(rw,fsid=0,insecure,no_root_squash)
/ *(rw,fsid=0,insecure,no_root_squash)

The NFS Pod is connected to a GCE PD and /exports is the mount path, similar to th

[2019-08-21 07:25] morrofino commented on #282
Hi, did you find how to write data to redis?

Thanks

[2019-08-24 12:40] #293 closed

[2019-08-24 12:40] #306 closed

[2019-09-02 16:02] sdanbury commented on #339
@s1405 did you find a solution to this?

[2019-09-04 14:16] s1405 commented on #339
not yet @sdanbury I was tryn to share the jobs directory of two jenkins Pods through NFS https://github.com/s1405/k8s-sample-tasks

[2019-09-04 14:58] sdanbury commented on #339
I worked something out in the end. I basically used an init container to chown the location I was about to write to on the NFS from the main container in the pod. By default, you probably won't have permissions to write to the NFS unless your the root user. In my case, I wasn't running as the root user, so had to chown the directory first.

[2019-09-09 02:03] vincepower commented on #337
https://github.com/kubernetes/examples/pull/342 has been submitted to resolve this.

[2019-09-10 00:46] #337 closed

[2019-09-11 03:06] s1405 commented on #339
I still need to explore this, will update later, however closing the issue

[2019-09-11 03:06] #339 closed

[2019-09-23 15:47] leopoldodonnell commented on #260
Would love for this to be addressed! In the mean time here's how we're dealing with it...

In this example there are two pods that are mounting an AWS EFS volume via nfs. To enable a non-root user, we make the mount point accessible via an initContainer.

[code]

[2019-10-03 10:17] Inv0k-er opened #349 "Can you give me consult ?"
Hello evreybody. Recently I start study kubernetes. And I try to understand PV and PVC with nfs.
And I really cant understand:
1. When I using nfs. Where need to deploy nfs server ? It is some independent or need to deploy in master node or minion node ?
2. In my pvc - yaml
======================================================
apiVersion: v1
kind: PersistentVolume
metadata:
 name: pvc1
spec:
 acc

[2019-10-16 22:40] venkateshreddypala commented on #349
Each PV contains a spec and status, which is the specification and status of the volume.

apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv0003
spec:
  capacity:
    storage: 5Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Recycle
  storageClassName: slow
  mountOptions:
    - hard
    - nfsvers=4.1
  nfs:
    path: /tmp
    server: 172.17.

[2019-10-17 11:45] #320 closed

[2019-10-27 22:15] ahmetb commented on #334
/remove-lifecycle stale

[2019-10-31 12:47] spawnia commented on #260
The same seems to be true for cifs mounts created through a custom volume driver: https://github.com/juliohm1978/kubernetes-cifs-volumedriver/issues/8

[2019-11-20 00:05] kirankanth opened #351 "Configure scaleio for Openshift"
Hello, I am trying to configure scaleio in openshift using below link. Everything has been configured, but when a pod moves to another node, underlying block device is not accessible on another node. Trying to see if anybody has configured to make it working in Cluster environment.

https://github.com/kubernetes/examples/tree/master/staging/volumes/scaleio

[2019-11-23 22:10] averri opened #352 "Minio quickstart example is not working"
The quick start example provided here: https://github.com/kubernetes/examples/tree/master/staging/storage/minio

... is not working. It fails with:

[code]

[2019-12-02 17:28] clattems commented on #352
@averri have you tried this? https://github.com/minio/minio/tree/master/docs/erasure/storage-class#set-storage-class

[2019-12-06 12:53] tirelibirefe commented on #325
Hello @xuzhiguang
Probably you followed official vmware tutorial which is https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/kubernetes-volumes.html
I face with the same problem. How did you fix that problem?

[2019-12-08 09:00] #329 closed

[2019-12-08 10:01] #308 closed

[2019-12-12 12:37] #330 closed

[2019-12-16 23:33] andrew-aernos commented on #89
Fails for me when trying to create the second pod onward. Both the service and statefulsets were applied in the default namespace. I'm playing within a Ubuntu VM's minikube.

minikube version

kubectl version

[code]

[2019-12-18 22:43] andrew-aernos commented on #89
how might one check the deployed cluster domain?

[2019-12-19 12:20] #333 closed

[2019-12-19 18:26] #237 closed

[2020-01-29 15:09] varun-da commented on #260
/remove-lifecycle stale

[2020-02-11 12:59] masterviana opened #359 "Do you need a service for connecting from other pods?"
After it running do you need a service do connect from other pods? How we can connect from another pods?

[2020-02-11 13:52] #359 closed

[2020-02-16 17:03] neo81-83 opened #360 "Can we have multiple selenium hub pods to speed up execution?"
If 'yes' what are the changes required besides replica=3? Quick response would be appreciated.

[2020-02-19 13:30] modassarrana opened #361 "Getting error No appropriate python interpreter found , when running cqlsh in cassandra pod"
Hi ,

I have brought up  cassandra statefulset & is up & running. But cqlsh command is giving me error
No appropriate python interpreter found.

Pods are in running state
[code]

Cassandra is up & normal
[code]

But cqlsh is failing with python interpreter
[code]

Some workaround tried , but still its giving other error
1> Manually install python-2.7
2> Then tried to run cqlsh , but getting issue

[2020-02-20 14:53] nicoclau opened #362 "Improvement guestbook PHP : more explanation about Redis"
Hello, it would be good to explain how Slave Redis sync with Master Redis.

It is done in the command within redis-slave/Dockerfile

CMD /run.sh

Where we see:

if [[ ${GET_HOSTS_FROM:-dns} == "env" ]]; then
  redis-server --slaveof ${REDIS_MASTER_SERVICE_HOST} 6379
else
  redis-server --slaveof redis-master 6379
fi

It just looks first if we can use DNS, if so the redis master is referenced by it

[2020-02-20 18:06] bartpaczkows opened #363 "glusterfs pod cant' start"
Hi,
I was trying to follow the instruction which are provided but my glusterfs pod cant' start (it is in ContainerCreating status)
vagrant@k8s-master:~$ kubectl get pods
NAME        READY   STATUS              RESTARTS   AGE
glusterfs   0/1     ContainerCreating   0          39m

Log of the pod shows the following:
Events:
  Type     Reason                  Age                From               Me

[2020-02-23 02:43] chopral opened #365 "Sentinel unable to elect new redis master after switching to Coredns"

[2020-03-09 05:18] cyberpau opened #368 "Missing service type on guestbook-all-in-one.yaml"
https://github.com/kubernetes/examples/blob/master/guestbook/all-in-one/guestbook-all-in-one.yaml

Here is a snippet of the current configuration of Front-End Service:

[code]

As you can notice, the type `LoadBalancer` is commented out, therefore the default `ClusterIP` type is selected instead of `NodePort` as per the tutorial (https://kubernetes.io/docs/tutorials/stateless-application/guestbook

[2020-03-11 02:08] liujinpengtommy opened #371 "AH00534: apache2: Configuration error: No MPM loaded."
k8s version:v1.1.4.2
When execute kubectl apply -f <gb-frontend.yml>
AH00534: apache2: Configuration error: No MPM loaded.

[2020-03-11 02:17] liujinpengtommy commented on #371
docker version
Client:
 Version:           18.09.6
 API version:       1.39
 Go version:        go1.10.8
 Git commit:        481bc77156
 Built:             Sat May  4 02:34:58 2019
 OS/Arch:           linux/amd64
 Experimental:      false

Server: Docker Engine - Community
 Engine:
  Version:          18.09.6
  API version:      1.39 (minimum version 1.12)
  Go version:       go1.10.8
  Git commit

[2020-03-11 06:14] imran20487 commented on #89
This fixed it for me. my-domain was the problem. Changed the domain and it started working.

[2020-03-11 06:17] imran20487 commented on #89
I am working in a company which has it's down domain for kube. You may contact your local k8 administrator for the domain.

[2020-03-11 07:14] liujinpengtommy commented on #371
it turns out to be issue of disk format in centos7. After changing to ubuntu16.04. it is working.

[2020-03-11 07:14] #371 closed

[2020-03-15 00:08] #349 closed

[2020-03-17 20:29] viniciusbds commented on #352
/remove-lifecycle stale

[2020-03-17 20:34] viniciusbds commented on #352
@averri have you figured out what the problem was?

[2020-03-26 00:25] #334 closed

[2020-04-06 07:43] inventionstore opened #376 "Guestbook example can't handle apostrophe symbol and breaks guest list"
I just tried this example on google kubernetes engine. I created a cluster and:
git clone \ https://github.com/kubernetes/examples
I started the services fine.
I go to the provisioned external IP and type "Hello" from my macbook using chrome.
It seems to work.
Then from iPhone I type "It's Me"
Going back to Macbook, I refresh the page and it says "It�s me".
After another iteration from any device

[2020-04-09 14:30] neetra opened #377 "Containers not accessible via container name , running in single pod(multi-container)"
Problem:
I have two applications say applicationA, applicationB.

Using Docker compose.yml:
    version: '3.4'

    services:
      applicationa:
        environment:
          - ASPNETCORE_ENVIRONMENT=Development

        ports:
          - "7001:80"
      applicationb:
        environment:
          - ASPNETCORE_ENVIRONMENT=Development

In dockerfile of applicationa (Exposed port 80), applicatio

[2020-04-18 02:26] #351 closed

[2020-04-29 05:52] MoShitrit commented on #377
Hey @neetra
If both containers are running in the same pod (as in the example you specified), that means that they share the same IP address. So if appA needs to interact with appB, you should just use local host (127.0.0.1 and the relevant port 5000).
Give that a try and let me know if that doesn’t work. Good luck!

[2020-04-29 06:55] neetra commented on #377
@MoShitrit thanks for the response, but I am aware about this
I want to know if there is any way to access?

[2020-04-29 13:00] MoShitrit commented on #377
Hey @neetra
So backing up, I just want to make sure I understand the issue correctly.
By access- do you mean that you wish to access appB directly using a service, and not sure how to do that? If that's the case, then all you have to do is either add another port to your existing service (`kubectl edit service appaappbservice`) and under `spec.ports` just add another object for appB, like this for

[2020-04-30 19:40] slayer01 commented on #260
no solution since around 1 1/2 years? cant believe it.

[2020-04-30 21:35] rushins opened #379 "NFS folder root user"
hello team,

I have a weird issue . i use NetApp storage as NFS  volume in my container as /data using complete NFS volume and IP address of target in my docker host/container  for example: /data using PV and PVC .  My PV, PVC is active and bounded to my POD.

I see my container mounted the volume from PV,PVC to my pod and i see the /data, however the files under /data path  ownership is not showi

[2020-04-30 22:05] rushins commented on #379
hi
i am using NFS4 in my PV mount options like below , when i use NFS=3 i get errors because the container seems
--------

apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv0003
spec:
  capacity:
    storage: 5Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Recycle
  storageClassName: slow
  mountOptions:
    - hard
    - nfsvers=4.0
  nfs:

[2020-05-01 15:13] #379 closed

[2020-05-01 15:13] rushins commented on #379
it turned out a NFS release issue .

[2020-05-14 06:11] mnpenner opened #380 "Example request: LEMP stack w/ custom image"
@wernight said it very well over [here](https://github.com/kubernetes/kubernetes/issues/17489#issue-117778148), so I'll copy-paste:

---

TL;DR Suggesting a LAMP example to help traditional users (those still running apt-get install on a single Linux server or knowing even less) migrate to Kubernetes.

After some experiments I got a broader idea of how things work. The current documentation isn't

[2020-05-20 08:03] saurastrirajat opened #381 "How to expose this to outside kubernetes cluster ?"
I tried following this
https://github.com/kubernetes/examples/tree/master/staging/storage/redis#tl-dr

But this setup seems to be accessible within K8S cluster. How do we expose this to outside ?

I tried changing service type to NodePort. This exposed sentinel. Then I did redis-cli to sentinel using node host and nodeport. Which connect me to sentinel and from there my redis master and slave disc

[2020-05-25 04:51] AlexanderBinkovsky opened #384 "only one storm worker is deployed instead of 2"
one worker pod is deployed successfully but another one is in a pending state. Event: 0/1 nodes are available: 1 node(s) didn't have free ports for the requested pod ports

[2020-05-25 04:59] AlexanderBinkovsky commented on #384
That happens only on localhost

[2020-05-25 04:59] #384 closed

[2020-05-28 18:48] MoShitrit commented on #377
Hey, @neetra !
I was just curious if you had a chance to try that yet? Is everything good now?

[2020-05-28 18:51] MoShitrit commented on #381
Hey @saurastrirajat
Can you please provide a bit more info?
Which steps / commands exactly did you try to run? Which ones didn't work? And what was the error message?

[2020-05-30 21:33] spawnia commented on #260
/remove-lifecycle rotten

Maybe this issue needs to be taken to another repository. Is https://github.com/kubernetes-incubator/external-storage the right place for it?

[2020-06-05 13:00] NasAmin commented on #360
I vote for this. We are running SeleniumGrid on EKS. The hub gets overwhelmed and results our tests failing frequently.

It would be really good if the hub can auto scale as well.
Zalenium seemed like a very good tool but unfortunately it isn't being maintained anymore
https://github.com/zalando/zalenium

Regards,

Nas

[2020-06-09 03:39] cyberpau commented on #368
/close

[2020-06-09 03:39] #368 closed

[2020-06-25 14:53] spatel-37 opened #387 "Really large (>50 nodes) - can't change the parameter for jetty threads setting on selenium hub."
I have an AKS cluster setup and working with 100 nodes connected however, any more than 50 parallel tests fail because the default setting for jetty threads is limited to 50.  I would like to run atleast 100 parallel tests.
Can we configure the hub with optional parameters, if so, please can someone provide some instructions?

[2020-06-25 15:17] spatel-37 opened #388 "Selenium Grid Max Sessions on AKS deployment"
Would it possible to configure the maxSession parameter for the selenium hub deployment on Azure Kuberenetes Cluster? Can anyone please provide instructions or advise? Thanks.

[2020-07-18 15:09] #361 closed

[2020-07-19 19:37] #363 closed

[2020-07-21 17:18] ensonic opened #390 "NFS example with a cluster local service name only works on GKE but not for minikube/kubeadm"
This might be a followup for #237. The change from IP to `server: nfs-server.default.svc.cluster.local` in
https://github.com/kubernetes/examples/blob/master/staging/volumes/nfs/nfs-pv.yaml#L11
seems to be not well tested. It works on GKE through some black magic, but neither on minikube or kubeadm clusters. The main problem is that the controller is not resolving the IP address against core-dns b

[2020-07-22 04:32] #365 closed

[2020-07-31 09:04] ensonic commented on #390
Using a csi-driver, such as https://github.com/kubernetes-csi/csi-driver-nfs will work with an in-cluster nfs server.

[2020-07-31 11:00] raajavel commented on #260
is there any solution for it other than initContainers ?

[2020-07-31 12:53] spawnia commented on #260
The docs are not totally clear about this, but I understand that this is already the default behaviour.

The section also indicates that not every volume type necessarily supports changing permissions:

[2020-08-01 17:38] #362 closed

[2020-08-04 13:45] #360 closed

[2020-08-13 12:22] ravikanth39 commented on #260
+1

[2020-08-14 22:47] #352 closed

[2020-08-16 18:52] saiyam1712 commented on #390
Resolving through service name would be a great change. Can it be taken into consideration asap?

[2020-08-24 19:52] eakurdyukov commented on #260
The same issue for AWS EBS gp2 volumes

[2020-08-26 19:26] MoShitrit commented on #377
/close

[2020-08-26 19:26] #377 closed

[2020-08-26 19:27] MoShitrit commented on #381
/close

[2020-08-26 19:27] #381 closed

[2020-09-03 09:21] #376 closed

[2020-09-19 04:26] deepakarchinnova opened #397 "k8s restore"
Can this be part of the examples?

## 1. Get etcdctl utility if it's not already present.

go get github.com/coreos/etcd/etcdctl

## 2. Backup

[code]

# -----------------------------
# Disaster Happens
# -----------------------------

## 3. Restore ETCD Snapshot to a new folder

[code]

## 4. Modify /etc/kubernetes/manifests/etcd.yaml

Update --data-dir to use new target location

[code]

Update

[2020-09-23 11:52] tetsun commented on #260
+1

[2020-09-29 13:20] sonuchauhan1597 opened #399 "pod yaml with condition"
Hi,

I have created a pod YAML.
Below is the snippet.
[code]
but this condition is not effective.

[code]

Is there any way to handle conditions in pod YAML instead of creating a separate YAML?

Thank you.

[2020-10-09 13:40] jmorcar opened #402 "flexvolume driver for NFS in Azure AKS"
I'm checking to build docker image with flexvolume driver for nfs, like is indicate here:

https://github.com/kubernetes/examples/tree/master/staging/volumes/flexvolume

And I check repo have a nfs example driver , here: https://github.com/kubernetes/examples/blob/master/staging/volumes/flexvolume/nfs

But when I analyze functions of driver, so I don't understand yet the domount() function how bui

[2020-10-11 08:10] #380 closed

[2020-10-21 08:26] vpsvpnvip opened #403 "error: error parsing wordpress-deployment.yaml: error converting YAML to JSON: yaml: line 33: could not find expected ':'"
trying to follow kubernetes tutorial[1]Example: Deploying WordPress and MySQL with Persistent Volumes;
run command 'kubectl apply -f wordpress-deployment.yaml' on google kubernetes using cloudshell;
got this error:**error: error parsing wordpress-deployment.yaml: error converting YAML to JSON: yaml: line 33: could not find expected ':'
[1]https://kubernetes.io/docs/tutorials/stateful-application/m

[2020-10-21 15:19] troy0820 commented on #403
/kind support
This issue is being addressed in this issue https://github.com/kubernetes/kubernetes/issues/95754

[2020-10-21 15:20] troy0820 commented on #403
/close

[2020-10-21 15:20] #403 closed

[2020-11-09 14:00] nikhilbhalwankar opened #404 "How to add multiple persistent disks to NFS Server?"
Hi,

How can I add multiple persistent disks to the single NFS server? e.g.

/exports/disks1 -> This will point to 1st persistent disk
/exports/disks2 -> This will point to 2nd persistent disk

Both these disks are to be used for sepereate PV and PVC.

Thanks in Adnavce,
Nikhil

[2020-11-22 16:42] #387 closed

[2020-11-22 17:43] #388 closed

[2020-11-24 01:31] jscoys opened #408 "Issue to get LB working - doc for Kubernetes deployment examples/staging/selenium/"
Hi,

Trying to follow the Kubernetes tutorial at https://github.com/kubernetes/examples/tree/master/staging/selenium#kubernetes-nodes-reachable.

Everything is working not so bad excepting the part on the LB and GKE. When I run the command it creates the LB but impossible to reach it through the IP:port mentioned by it.

The only solution I found is to create an Ingress on top of the Node Port "se

[2020-11-30 01:51] #408 closed

[2020-11-30 01:51] jscoys commented on #408
Nvm it was a network issue on my side...

[2020-12-15 23:34] darose commented on #260
I just ran into this issue today as well.  Is there any workaround yet besides using an initContainer?

[2021-01-13 21:06] #390 closed

[2021-01-27 00:35] bynare commented on #260
+1 - facing this issue too!

[2021-01-28 08:52] vishwa-vyom commented on #260
+1 - facing this issue

[2021-02-08 03:29] fzyzcjy opened #411 "Make `redis` suitable for automated deploy / helm chart? (Now it requires a lot of manual intervention...)"
Hi thanks for the examples! I wonder how can we make `redis` suitable for automated deploy / helm chart? Now it requires a lot of manual intervention... Humans need to execute several steps before it becomes auto-pilot.

Especially, I am using helm (and helmfile and gitops), so I hope a single `helm install` will do everything.

I am willing to help to improve the code.

[2021-02-16 06:10] #397 closed

[2021-02-18 14:19] abdennour commented on #260
fsGroup is used to control access to BLOCK storage (.eg: iSCSI, Ceph RBD, .. ).. and not for File Storage like NFS.
Note that

[2021-02-20 16:07] hbokh commented on #24
/reopen

Getting a `CreateContainerConfigError`and `"Error: couldn't find key password in Secret default/mysql-pass"`

My workaround: instead of `password.txt`, use`password`.
Other: use `key: password.txt` in the manifest file `mysql-deployment.yaml`.

[2021-02-22 19:13] neerajkr1988 opened #413 "Is azureFile volume only works with namespace 'default'?"
<h2>Kubernetes version:  1.19.7</h2>
[GitHub](https://github.com/kubernetes/examples/tree/master/staging/volumes/azure_file)

-------------------------------------------------------
apiVersion: v1
data:
  azurestorageaccountkey: *******
  azurestorageaccountname: *******
kind: Secret
metadata:
  name: custom-secret-sa
  namespace: custom
type: Opaque

----------------------------------------------

[2021-02-26 15:13] #399 closed

[2021-02-26 21:42] houchenshead commented on #413
Hi,

After upgrading to v1.19.7 we noted that all azure file mounts in our cluster failed to read secrets from anywhere but the default namespace. I'm not sure if this was intentional but it certainly was unexpected as previously the secret was read from the colocated namespace, which is our preference, rather than default. Looking at https://github.com/kubernetes/examples/blob/master/staging/volu

[2021-03-04 19:34] patelrutva opened #414 "Not able to access service in browser"
**Steps to reproduce the issue:**

1. kubectl run docserver --image=docker.io/{myusername}/{image}:latest --port=80
2. kubectl expose pod docserver --type=NodePort
3. minikube service docserver

![image](https://user-images.githubusercontent.com/41102770/110014536-e7547800-7cf0-11eb-86a1-667879b97498.png)

**Full output of minikube dashboard logs:**
![image](https://user-images.githubusercontent.c

[2021-03-07 12:02] slashpai commented on #414
From the screenshot, the port number should be 62529, but in the browser, you are using port 62320. That appears to be the issue

[2021-03-08 16:10] #402 closed

[2021-03-22 23:06] vikramparth commented on #390
I'm also running into this issue with docker desktop. Any workarounds here? Thanks.

[2021-03-29 21:55] matt-byrne commented on #413
I'm seeing exactly the same issue after upgrading to 1.19.7. Regardless of the namespace of the deployment/pod referencing the azurefile resource, it wants the secret to be in the default namespace. Any update on this?

[2021-04-02 16:44] rhoboat opened #415 "Remove master slave namings from repo"
[Here are all the places](https://github.com/kubernetes/examples/search?q=slave) in this repo that have `slave` in them. `Master` is used in far more places, but focusing on removing `slave` will help find the analogous usages of `master` that should be changed to start.

[2021-04-08 17:15] #404 closed

[2021-04-27 08:09] hect1995 opened #417 "Example guestbook all-in-one fails"
I am deploying the `guestbook all-in-one` example into Openshift 4 as:
[code]
In all nodes from `frontend` I get:

[code]

[2021-05-03 16:45] Azbesciak opened #418 "Failed to resolve server nfs-server.default.svc.cluster.local: Name or service not known"
Hello, I tried to use example for NFS server, with the only change that I changed in [`nfs-server-rc.yml`](https://github.com/kubernetes/examples/blob/master/staging/volumes/nfs/nfs-server-rc.yaml#L31) `persistentVolumeClaim` to
[code]

I applied all NFS samples in a given order (rc, service, pv, pvc) but when I try to consume it via pvc in my job I receive an error like below
[code]

Do you have

[2021-05-09 05:02] fzyzcjy commented on #411
/remove-lifecycle stale

[2021-05-14 10:52] Azbesciak commented on #418
Hello, could you please take a look at this?

[2021-05-18 21:14] adthonb commented on #418
@Azbesciak I have the same issue. You can't use the DNS of Service. Use Cluster-IP of Service instead. Change `server:` value in `nfs-pv.yaml`

[2021-05-19 07:24] Azbesciak commented on #418
Yup, take a look at https://github.com/kubernetes/minikube/issues/3417#issuecomment-670005434
But I rather expected some solution from k8s team.

[2021-05-19 15:29] spawnia commented on #260
/remove-lifecycle stale

[2021-05-19 15:49] darose commented on #260
/remove-lifecycle stale

[2021-05-26 15:52] sonata82 commented on #413
It seems [this commit](https://github.com/kubernetes/kubernetes/commit/9c169a2122048d610e94ac7c4cf16f26e27c4bb4#diff-99cd58e6152db891e2f857d975bd1f9e02755d6fc88efb402ade8ef093fa7c19) fixes the problem.

[2021-06-16 21:40] EmilyM1 commented on #415
/assign

[2021-07-02 15:32] droctothorpe commented on #260
Has anyone been able to do this without an init container? Really hoping to avoid that if possible.

[2021-07-03 02:00] vijay-at-work commented on #260
I would rather avoid init containers, in fact I don't like any kind of scripts in the k8s manifests!
So If you don't want to use init container, you can do something like this -

_e.g. for nfs volumes_ (This assumes you have control over nfs server)
On the nfs server have something like this in `/srv/exportfs`
`/srv/vol1       *(rw,sync,all_squash,insecure,no_subtree_check,anonuid=2000,anongid=300

[2021-07-30 08:48] ronald commented on #418
We also had no success with the fqdn, although it's in the example since 2019:
https://github.com/kubernetes/examples/commit/b8ba2838ba9b1769000de7e4cd58ab0dc9a3f951#diff-c275d4aa3949dc746e724423e8efd11390c757902b9ed54b0dc6ba4eb7ace3f1

[2021-08-04 13:55] #414 closed

[2021-08-04 15:41] VatslavDS opened #422 "KubernetesSeedProvider"
Configuration Error

[2021-08-05 06:41] yuswift commented on #422
/triage needs-information

[2021-08-07 05:48] fzyzcjy commented on #411
/remove-lifecycle stale

[2021-08-25 04:04] shiywang opened #423 "Cassandra pod CrashLoopBackOff due to run.sh `su` command failed."
I am following this https://kubernetes.io/docs/tutorials/stateful-application/cassandra/ with my kubeadm bootstrap local 3 nodes cluster and cassandra pod can't started due to command `su` failed in run.sh, Any ideas of the root cause?

[code]

My cluster version:
[code]

[2021-09-24 06:45] Lunartist commented on #260
I disabled all sudo privileges from pod users for security reasons.
So I can't configure the privilege of the mount point because Kubernetes won't let me,
and I can't chown/chmod the mount point because my pod user can't sudo.
How do I solve this problem?

[2021-09-25 07:48] #417 closed

[2021-09-30 08:57] devivaraprasad901 opened #424 "unable to open minio console with standalone mino pod"
Hi team,
I have created standalone minio instance in minikube cluster. But unable to browse the minio console in any browsers get error unable to connect to the server(i.e mino Pod instance).

NAME                                   READY   STATUS    RESTARTS       AGE
pod/minio-deployment-877b8596f-2k89m   1/1     Running   0              11s

service/minio-service   LoadBalancer   ip   ip       9

[2021-11-05 06:27] fzyzcjy commented on #411
/remove-lifecycle stale

[2021-11-06 10:53] tshaiman opened #427 "Using Managed Identity in Azure File Share Plugin"
Is it possible to Use Azure Managed Identity instead of Account Keys when using the AzureFileShare plugin on kubernetes ?

[2021-11-24 12:47] moluzhui opened #429 "Whether the GeneralPredicates is still supported"
The `GeneralPredicates ` policy is found in  In [scheduler-policy](https://github.com/kubernetes/examples/blob/master/staging/scheduler-policy/scheduler-policy-config.json), but is not mentioned in kubernetes documentation and is not seen in the pkg/scheduler policy.

Has it been deprecated or has it been implemented indirectly in some other way

[2021-12-23 10:27] spawnia commented on #260
/remove-lifecycle stale

[2021-12-27 10:17] #418 closed

[2021-12-28 13:09] rakhigandhi opened #430 "I am not able to connect the chrome node in my Kubernetes Cluster"
Hi,

I have set up my grid in Kubernetes cluster. I am able to view my grid set up successfully on https://localhost:4444

But when I run the following command:
kubectl create --filename=staging/selenium/selenium-node-chrome-deployment.yaml

I don't see my chrome node launching in grid.

Please help me resolve this issue.

Thanks!

P.S. I followed all the steps as mentioned on https://github.com/k

[2022-01-02 07:04] #422 closed

[2022-01-04 08:57] idankish opened #433 "Guestbook-Go example - redis slave pods are not able to connect to redis master pod when running the deployment on 2 worker nodes"
Hi there,
I deployed the "Guestbook-Go example" deployment on a K8S cluster, consists of a master node and 2 worker nodes.
In this case the "redis-master" pod was deployed on "node-1" worker node and the 2 "redis-slave" pods were deployed on each worker node respectively. Please see below:

[root@master-node ~]# kubectl get pods --all-namespaces -o wide
NAMESPACE     NAME

[2022-01-16 14:56] Sickaada opened #434 "Change Max. Concurrency"
How can we change the Max, Concurrency programatically? I need to override the default value.

[2022-01-18 16:45] bajajamit01 commented on #361
port-forward the svc locally and the connect using cqlsh

kubectl port-forward svc/cassandra 9042:9042

[2022-01-19 02:35] rocdove commented on #238
use base64 error still.
event:  mount error 22 = Invalid argument failed to load ceph kernel module

stringData:
  key: xxxx  # ceph-authtool -p /etc/ceph/ceph.client.admin.keyring

[2022-01-22 04:38] #423 closed

[2022-01-26 10:37] Y0ngg4n opened #436 "GlusterFS Endpoints cross-namespace"
How can i reference a glusterfs endpoint that is created in the default namespace in my PersistentVolume for example?
When i use this PV
[code]
i get following error:
`MountVolume.NewMounter initialization failed for volume "nextcloud-html-pv" : endpoints "glusterfs-cluster.default" not found`
I have also tried `glusterfs-cluster.default.svc.cluster.local` but did not work.

[2022-02-02 01:49] warrensbox opened #437 "Docker image has not been updated to reflect host name change (redis-slave -> redis-replica)"
In main.go, on line 70, `redis-slave:6379` was refactored to `redis-replica:6379` on **Aug 12, 2021**.
See: https://github.com/kubernetes/examples/commit/69f7ab04f877ebf9988d33a8b13426a74d9348b3#diff-4db2d0a3cc62848825f64d1ac729ca2fd43579736f02c55b8a5bdac93220ebfe

However, the docker image hasn't been updated to reflect this change. The last time the image was updated was 4 years ago, on **Dec 22

[2022-02-02 01:54] warrensbox commented on #433
@idankish I proposed a temporary fix.
I hope it helps. See #437

[2022-02-03 07:04] fzyzcjy commented on #411
/remove-lifecycle stale

[2022-02-12 00:03] #415 closed

[2022-02-12 09:04] udupicloud opened #439 "How to access MariaDB(StatefulSets) from outside the cluster"
Hi Everyone,

**Things that I need to work with the StatefulSet pods**
I want to create a Production grade MariaDB Galera v10.6.5 cluster with Kubernetes (v1.19 -v1.23) and will use the Persistence Ceph Storage. Also I need that to be CentOS8 or CentOS Stream 8. Pods created via  StatefulSets should be accessible via SSH service from outside the cluster.

**Things that I have tried**
1. I am able

[2022-02-27 11:03] #424 closed

[2022-03-22 19:26] HusseinKabbout commented on #418
I think it would be good to revert this [commit](https://github.com/kubernetes/examples/pull/295/files), as it misleads the reader to believe that using the FQDN of the NFS service should work (even though it doesn't).

From my understand, currently there are only two somewhat reasonable solutions for this problem:

1. Use the services IP instead of the FQDN
2. Manually update the nodes hosts file

[2022-03-24 18:31] danielhelfand opened #443 "Push new gb-frontend image for guestbook sample app"
In #438, a change was made to the frontend of the guestbook application to change a service name to allow the frontend to access the redis-replica. A new image with these changes was never pushed, so the frontend is unable to submit/read and display the user entries using the image tag [here](https://github.com/kubernetes/examples/blob/13cbf0b065484a5cfd3741df5f1b61bb29f69104/guestbook/all-in-one/

[2022-04-05 12:41] #427 closed

[2022-04-21 07:27] freeznet commented on #260
+1 - facing this issue

[2022-04-21 07:28] freeznet commented on #260
/remove-lifecycle stale

[2022-04-23 14:47] #429 closed

[2022-05-04 07:09] fzyzcjy commented on #411
/remove-lifecycle stale

[2022-05-19 09:34] davidhadas opened #447 "Following guestbook-go setup - PANIC: dial tcp: lookup redis-slave on 172.21.0.10:53: no such host"
Following the instructions of guestbook-go setup, the go app failed since it tried to resolve  "redis-slave"
See https://github.com/kubernetes/examples/issues/437

The image uses https://github.com/kubernetes/kubernetes/blob/e8c167a115ec662726904265d17f75a6d79d78d8/examples/guestbook-go/_src/main.go#L79 resulting in an attempt to resolve "redis-slave"

This is reflected in the log (see below)
And

[2022-05-27 14:52] #430 closed

[2022-06-17 15:18] patrocinio commented on #437
This problem seems to have been fixed, as I see the code at https://github.com/kubernetes/examples/blob/master/guestbook-go/main.go#L79 as redis-replica

[2022-06-25 12:15] #436 closed

[2022-07-02 02:37] #433 closed

[2022-07-04 01:44] AdamJSoftware commented on #260
Just recently set up a cluster on Linode and I can't believe it, feels incomplete. I know this has nothing to do with Linode but I just want to add some context. The primary way to mount a PVC through Linode is to buy their volumes. Which require a minimum of 10GB and can only be up to 8/linode. I thought I was smart when I found the Rook NFS workaround. Everything would've been perfect till none

[2022-07-04 17:27] RaymondMoreau commented on #260
true, this is something that should be fixed 👍

[2022-07-12 11:19] #439 closed

[2022-07-17 16:14] #437 closed

[2022-07-20 20:46] ramihoudroge commented on #260
Stumbled upon this issue

[2022-07-22 06:37] musaprg commented on #447
I faced the same issue and it is because the build/push of the latest image to GCR isn't kicked somehow, I guess.

There is only one image tagged with `v3` which is outdated. [ref](https://console.cloud.google.com/gcr/images/google-containers/global/guestbook)

[2022-08-02 08:12] fzyzcjy commented on #411
bump

[2022-08-02 16:42] preethidh opened #452 "Selenium : Chrome Node does not register correctly to the hub"
I am getting below error,

13:57:11.004 WARN [UnboundZmqEventBus.lambda$new$3] - Connecting to tcp://selenium-hub:4442 and tcp://selenium-hub:4443 failed
13:57:11.005 WARN [UnboundZmqEventBus.lambda$new$5] - Connection aborted.

and when i try to hit selenium in local host, its not showing up any chrome node and it gives like below,

_**The Grid has no registered Nodes yet.
More information about

[2022-08-05 09:37] huntersman opened #453 "File staging/volumes/nfs/nfs-server-rc.yaml doesn't exist"
I'm learning how to use NFS in K8s, so I read staging/volumes/nfs/README.md
In README.md, it mentions
[code]
But I can't find nfs-server-rc.yaml, could someone helps me, thank you!

[2022-08-13 08:25] AtlanCI opened #455 "[help] ! Does the number do anything?"
Here! Does the number do anything?
![(Q3FKD)D580 RCTXTKMVIVG](https://user-images.githubusercontent.com/39624029/184475707-7cc15e8a-b87b-4f04-8a1c-00a148872770.png)

https://github.com/kubernetes/examples/blob/6fe27921de6c91bb8fc4594f0e8a568c49991ac7/staging/cockroachdb/demo.sh

[2022-08-21 20:07] #443 closed

[2022-09-01 09:10] fzyzcjy commented on #411
/remove-lifecycle stale

[2022-09-01 09:10] fzyzcjy commented on #411
/remove-lifecycle rotten

[2022-10-19 06:32] eakurdyukov commented on #260
/remove-lifecycle stale

[2022-11-04 11:40] cloudinwinter opened #460 "persistentvolume-controller waiting for a volume to be created, either by external provisioner "fuseim.pri/ifs" or manually created by system administrator"
执行kubectl create -f deploy/nacos/nacos-pvc-nfs.yaml -n nacos 时报错，发现是StorageClass创建存储卷报错，日志如下
 Normal  ExternalProvisioning  4s (x22 over 5m19s)  persistentvolume-controller  waiting for a volume to be created, either by external provisioner "fuseim.pri/ifs" or manually created by system administrator

网上的答案都是
  - --feature-gates=RemoveSelfLink=false # 添加这个配置
  但是我添加这个配置后，我的api-service服务似乎启动不了，导致无法

[2022-11-04 12:01] #460 closed

[2022-11-15 19:54] markusdumke opened #461 "Wordpress tutorial does not work with newer image versions"
Hi, I am trying to run the tutorial https://kubernetes.io/docs/tutorials/stateful-application/mysql-wordpress-persistent-volume/ with a newer version of Wordpress or MySQL, but it always fails with the error message "Error establishing a database connection". I tried to use wordpress:6.1-apache with mysql:8.0, but also wordpress:6.1-apache with mysql:5.6 or wordpress:4.8-apache with mysql:8.0, but

[2022-11-18 03:48] #455 closed

[2022-11-30 10:42] fzyzcjy commented on #411
/remove-lifecycle stale